@charset "utf-8";

/* button */
.btn-base{display:inline-block;vertical-align:middle;width:100%;}
.btn-base > *{display:block;text-align:center;width:100%;border:0;cursor:pointer;transition:background-color 0.3s;}
.btn-base > * em{font-weight:inherit;}
.btn-base.tp1 > *{padding:15px 20px;font-size:14px;font-weight:600;color:#ffffff;line-height:1.4;background-color:#4289F0;border-radius:8px;}
.btn-base.tp1.reverse > *{border:1px solid #4289f0;color:#4289f0;background-color:#fff;padding:14px 19px;}
.btn-base.tp1.green > *{background-color:#26C48C;}
.btn-base.tp1.green.reverse > *{border:1px solid #26C48C;color:#26C48C;background-color:#fff;}
.btn-base.tp1.gray > *{background-color:#bbb;}
.btn-base.tp1.gray.reverse > *{border:1px solid #bbb;color:#333;background-color:#fff;}

.btn-base.tp1.disabled > *{pointer-events:none;background-color:#EBEBEB;color:#bbb;}
.btn-base.tp2 > *{padding:13px 20px;font-size:12px;font-weight:500;color:#72767a;border:1px solid #EBEBEB;border-radius:100px;background-color:#fff;}
.btn-base.tp2.gray > *{background-color:#72767A;color:#fff;font-weight:600;}
.btn-base.tp3{width:auto;}
.btn-base.tp3 > *{font-size:12px;color:#fff;font-weight:500;padding:8px 15px;border:1px solid #fff;border-radius:100px;background-color: #4289F0;}
.btn-base.tp4 > *{background-color:#72767A;padding:15px 20px;font-size:14px;font-weight:600;line-height:1.4;color:#fff;border-radius:8px;}
.btn-base.tp5{width:auto;}
.btn-base.tp5 > *{background-color:#ffffff;padding:5px 15px;font-size:12px;font-weight:500;color:#72767a;border-radius:50px;border:1px solid #EBEBEB;}
.btn-search, .btn-delete{display:inline-block;font-size:0;background-repeat:no-repeat;background-position:50% 50%;}
.btn-search{width:24px;height:24px;background-image:url(../img/common/ic_search.svg);}
.btn-delete{width:16px;height:16px;background-image:url(../img/common/ic_search_del.svg);}
.btn-text-area{text-align:center;margin:20px 0;}
.btn-text{display:inline-block;font-size:12px;font-weight:600;color:#72767a;padding:5px;}
.btn-delete-input{display:inline-block;width:50px;height:50px;background:url(../img/common/ic_minus.svg) 50% 50% no-repeat;border:1px solid #ebebeb;border-radius:8px;}
.btn-out{font-size:12px;color:#bbb;font-weight:600;display:inline-block;padding:5px 0;}
.fix-btn-area{margin-top:30px;}
.fix-btn-area .btn-base{margin-top:10px;}
.fix-btn-area .btn-base:first-child{margin-top:0;}
.fix-btn-area.multi{display:flex;gap:0 10px;}
.fix-btn-area.multi .btn-base{margin-top:0;}
.fix-reason-area{margin-top:30px;}

.btn-base-wrap{display:flex;gap:5px;}
.btn-base-wrap .btn{display:inline-block;font-size:12px;font-weight:500;color:#333;padding:4px 10px;border:1px solid #72767A;border-radius:4px; line-height:18px;position: relative;text-align:center;background-color:#fff;}
.btn-base-wrap .btn.on{background-color: #333;color:#fff;}
.btn-base-wrap .btn.on::after{content:'';display:block;width:10px;height:10px;position: absolute;left:50%;margin-left:-5px;bottom:-7px;background:url('/img/common/ic_edge.svg') 50% 50% no-repeat;background-size:cover;}
.btn-base-wrap .btn.md{font-size:14px;line-height:20px;font-weight:600;padding:9px;}
.btn-base-wrap.full{width:100%;gap:0 10px;}
.btn-base-wrap.full .btn{flex-grow:1;}

a.btn-link{display:inline-block;font-size:12px;font-weight:500;line-height:1.6;color:#72767a;text-decoration: underline;}
.btn-like{display:inline-block;width:13px;height:13px;background:url('../img/common/ic_like.svg') 50% 50% no-repeat;}
.btn-like.on{background:url('../img/common/ic_like_on.svg') 50% 50% no-repeat;}

/* input */
.input-base{width:100%;padding:16px 14px;border:1px solid #EBEBEB;border-radius:8px;}
.input-base:focus{border-color:#26C48C;}
.input-base.error{border-color:#FC4852;}
.input-base.tp2{border:0;border-bottom:1px solid #EBEBEB;padding:15px 0;border-radius:0;}
.input-wrap{position:relative;width:100%;}
.input-wrap .btn-search{position:absolute;right:14px;top:10px;}
.input-wrap .btn-delete{position:absolute;right:14px;top:18px;display:none;}
.input-wrap.input-unit .unit{position:absolute;font-size:14px;font-weight:500;right:14px;top:15px;line-height:1.4;}
.input-wrap.input-unit .input-base{padding-right:35px;}
.input-wrap.input-btn{display:flex;gap:0 10px;}
.input-wrap.input-btn .input-base{flex-grow:1;}
.input-wrap.input-btn .btn-base{flex-shrink:0;width:100px;}
.input-wrap.input-btn .btn-base > *{padding:15px 20px;background-color:#72767A;border-radius:8px;font-size:14px;font-weight:600;line-height:1.4;color:#fff;height:50px;}
.input-wrap.input-del{display:flex;gap:0 10px;}
.input-wrap.input-del .input-base{flex-grow:1;}
.input-wrap.input-del .btn-delete-input{flex-shrink:0;width:50px;}
.input-wrap.input-del .btn-delete-input + .btn-delete{right:74px;}
.input-list > li{margin-top:10px;}
.input-list > li:first-child{margin-top:0;}
.m-search-area .input-base{padding:13px 14px;}
.m-search-area .input-wrap .btn-delete{right:53px;top:14px;}

/* input - checkbox */
.chk-base{position:relative;display:inline-block;}
.chk-base input{position:absolute;display:none;}
.chk-base input + label{position:relative;padding-left:28px;font-size:14px;font-weight:500;display:inline-block;line-height:20px;vertical-align:middle;color:#72767A;}
.chk-base input + label:before{content:'';display:block;width:20px;height:20px;position: absolute;left:0;top:0;background-position:50% 50%;background-repeat:no-repeat;}
.chk-base input + label em{color:#26c48c;font-weight:inherit;}
.chk-base input + label:before{background-image:url(../img/common/ic_chk_off.svg);}
.chk-base input:checked + label:before{background-image:url(../img/common/ic_chk_on.svg);}
.chk-base.tp2 input + label:before{background-image:url(../img/common/ic_chk2_off.svg);}
.chk-base.tp2 input:checked + label:before{background-image:url(../img/common/ic_chk2_on.svg);}
.chk-base.chk-only{vertical-align:middle;}
.chk-base.chk-only input + label{padding-left:0;font-size:0;width:20px;height:20px;vertical-align:middle;}
.chk-list{display:flex;gap:0 20px;flex-wrap:wrap;}
.chk-list.vertical{display:block;}
.chk-list.vertical li{margin-top:16px;display:flex;justify-content:space-between;align-items:center;}
.chk-list.vertical li:first-child{margin-top:0;}

/* input - radio */
.radio-base{position:relative;display:inline-block;}
.radio-base input{position:absolute;display:none;}
.radio-base input + label{position:relative;padding-left:28px;font-size:14px;font-weight:500;display:inline-block;line-height:20px;vertical-align:middle;color:#72767A;}
.radio-base input + label:before{content:'';display:block;width:20px;height:20px;position: absolute;left:0;top:0;background-position:50% 50%;background-repeat:no-repeat;}
.radio-base input + label em{color:#26c48c;font-weight:inherit;}
.radio-base input + label:before{background-image:url(../img/common/ic_radio_off.svg);}
.radio-base input:checked + label:before{background-image:url(../img/common/ic_radio_on.svg);}
.radio-list{display:flex;gap:0 30px;flex-wrap:wrap;}

/* form */
.form-top{text-align:right;font-size:12px;color:#bbb;font-weight:500;}
.form-top .require{color:#26c48c;font-weight:inherit;}
.form-top + .form-list{margin-top:20px;}

.form-list > li{margin-top:10px;}
.form-list > li:first-child{margin-top:0;}
.form-list > li .valid{margin-top:6px;}
.form-list > li label{font-size:14px;font-weight:600;color:#bbb;line-height:1.4;display:block;}
.form-list > li label.tp2{color:#333;margin-bottom:10px;font-weight:500;}
.form-list > li label.tp2 .require{color:#26c48c;}
.form-list.tp2 > li{margin-top:20px;}
.form-list.tp2 > li:first-child{margin-top:0;}

.valid{font-size:12px;font-weight:500;display:flex;gap:0 5px;line-height:14px;}
.valid::before{content:'';display:block;width:15px;height:14px;}
.valid.error{color:#fc4852;}
.valid.error::before{background:url(../img/common/ic_warning.svg) 50% 50% no-repeat;}
.input-wrap + .valid{margin-top:6px;}
.valid-list{display:flex;gap:0 10px;margin-top:6px;}
.valid-list li{font-size:12px;color:#bbb;font-weight:500;display:flex;gap:0 4px;align-items:center;}
.valid-list li::before{content:'';display:block;width:4px;height:4px;border-radius:50%;background-color:#bbb;}
.valid-list li.on{color:#4289F0;}
.valid-list li.on::before{background-color: #4289F0;}

/* tab */
.tab-base{display:flex;width:100%;border-bottom:1px solid #EBEBEB;background-color:#fff;}
.tab-base > li{text-align:center;flex-grow:1;}
.tab-base > li > a{display:flex;padding:10px 20px;font-size:14px;color:#72767a;font-weight:600;line-height:1.4;position: relative;height:40px;align-items:center;justify-content:center;}
.tab-base > li.on > a{color:#26C48C;}
.tab-base > li.on > a::after{content:'';display:block;width:100%;height:2px;background-color:#26c48c;position:absolute;left:0;bottom:0;}
.panel-base > li{display:none;}
.tab-top{position: fixed;left:0;width:100%;top:50px;z-index:3;}

.tab-btn{display:flex;gap:10px;flex-wrap:wrap;}
.tab-btn li{width:calc(50% - 5px);}
.tab-btn li a{display:block;padding:12px 20px;border:1px solid #EBEBEB;border-radius:8px;text-align:center;font-size:14px;line-height:1.4;font-weight:600;color:#bbb;background-color:#fff;}
.tab-btn li a em{font-family:'Montserrat';font-weight:inherit;}
.tab-btn li.on a{background-color:#26C48C;border-color:#26C48C;color:#fff;}

/* calendar - common */
.datepicker-area{padding:16px;border-bottom:1px solid #EBEBEB;background-color:#fff;}
.datepicker-container{padding:20px;display:none;background-color:#fff;}
.datepicker-container.on{display:block;}
.input-wrap.input-datepicker{display:flex;gap:0 10px;align-items:center;}
.input-wrap.input-datepicker .bridge{flex-shrink:0;width:10px;height:14px;background:url(../img/common/ic_dash.svg) 50% 50% no-repeat;font-size:0;}
.input-wrap.input-datepicker .s-datepicker{flex-grow:1;}
.datepicker-container > .btn-base{margin-top:20px;}

/* calendar - tui */
.input-wrap.input-datepicker .tui-datepicker-input{border:1px solid #ebebeb;border-radius:8px;overflow:hidden;flex-grow:1;height:auto;}
.input-wrap.input-datepicker .tui-datepicker-input > input{padding:9px 14px;font-size:12px;}
.input-wrap.input-datepicker .tui-datepicker-input > .tui-ico-date{width:18px;height:18px;background:url(../img/common/ic_calendar.svg) 50% 50% no-repeat;right:14px;top:6px;margin:0;}
.tui-calendar .tui-calendar-header-info{display:none;}
.datepicker-container .tui-datepicker{position: relative;}
.datepicker-container .tui-datepicker-type-date,
.datepicker-container .tui-calendar{width:100%;}
.datepicker-container.on .tui-hidden{display:block;}
.datepicker-container .tui-datepicker{border:0;}
.datepicker-container .tui-datepicker.tui-hidden{display:block;}
.datepicker-container .tui-datepicker .tui-is-selectable.tui-is-selected, .tui-datepicker.tui-rangepicker .tui-is-selectable.tui-is-selected{background-color:#4289F0;}
/* .datepicker-container .tui-calendar td{border-radius:8px;} */
.datepicker-container .tui-calendar .tui-calendar-title{font-size:20px;font-family:'Montserrat';font-weight:600;line-height:1.4;}
.datepicker-container .tui-calendar .tui-calendar-header{border-bottom:0;}
.datepicker-container .tui-calendar .tui-calendar-header-inner{height:auto;padding:6px 10px 26px;display:flex;justify-content:center;align-items:center;gap:0 20px;}
.datepicker-container .tui-calendar-btn{width:20px;height:20px;position: static;font-size:0;}
.tui-calendar .tui-calendar-btn-prev-month:after, .tui-calendar .tui-calendar-btn-next-month:after, .tui-calendar .tui-calendar-btn-prev-year:after, .tui-calendar .tui-calendar-btn-next-year:after{display:none;}
.datepicker-container .tui-calendar .tui-calendar-btn-prev-month{background:url(../img/common/ic_calendar_l.svg) 50% 50% no-repeat;}
.datepicker-container .tui-calendar .tui-calendar-btn-next-month{background:url(../img/common/ic_calendar_r.svg) 50% 50% no-repeat;}
.datepicker-container .tui-calendar th{height:auto;padding:10px 0;font-size:12px;font-weight:500;color:#72767a;border-bottom:1px solid #EBEBEB;}
.datepicker-container .tui-calendar td{font-family:'Montserrat';color:#333;font-weight:600;}
.datepicker-container .tui-datepicker .tui-calendar-sun{color:#FC4852;}
.datepicker-container .tui-datepicker .tui-is-blocked{opacity:0.5;}

/* calendar - datepicker */
.s-datepicker{position:relative;}
.s-datepicker .input-base{padding:9px 14px;font-size:12px;font-family:'Montserrat';font-weight:500;}
.s-datepicker::after{content:'';display:inline-block;position: absolute;right:14px;top:8px;width:18px;height:18px;background:url(../img/common/ic_calendar.svg) 50% 50% no-repeat;}

.ui-widget.ui-widget-content{border:0;}
.ui-datepicker{width:100%;padding:0;}
.ui-datepicker .ui-datepicker-header{display:flex;justify-content:center;background-color:#fff;border:0;padding:0;height:40px;align-items:center;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{cursor:pointer;top:10px;}
.ui-datepicker .ui-datepicker-prev{background:url(../img/common/ic_calendar_l.svg) 50% 50% no-repeat;left:50%;margin-left:-75px;}
.ui-datepicker .ui-datepicker-next{background:url(../img/common/ic_calendar_r.svg) 50% 50% no-repeat;right:50%;margin-right:-75px;}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover{top:10px;border:0;}
.ui-datepicker .ui-datepicker-prev-hover{left: 50%;}
.ui-datepicker .ui-datepicker-next-hover{right: 50%;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{width:20px;height:20px;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{display:none;}
.ui-datepicker .ui-datepicker-title{display:flex;justify-content:center;flex-direction:row-reverse;font-family:'Montserrat';font-weight:600;font-size:0;}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month::before{content:'.';}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month,
.ui-datepicker .ui-datepicker-title .ui-datepicker-year{font-size:20px;display:block;}

.ui-datepicker table{margin-top:20px;}
.ui-datepicker th{font-size:12px;font-family:'Pretendard';padding:10px 0;border-bottom:1px solid #EBEBEB;}
.ui-datepicker th span{color:#72767A;font-weight:500;}
.ui-datepicker td{text-align:center;padding-top:20px;}
.ui-state-default, .ui-widget-content .ui-state-default{font-size:16px;font-family:'Montserrat';width:40px;height:40px;display:inline-flex;justify-content:center;align-items:center;border:0;background-color:#fff;border-radius:8px;font-weight:600;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{background-color:#4289F0;color:#fff;border-radius:8px;}
.ui-datepicker-today .ui-state-default{background-color:#D0E8FF;color:#333;}
.ui-state-default.ui-state-active{background-color:#4289F0;color:#fff;}
.ui-datepicker-week-end:first-child .ui-state-default{color:#FC4852;}
.ui-datepicker-week-end:last-child .ui-state-default{color:#4289F0;}
.ui-datepicker-week-end .ui-state-default.ui-state-active{color:#fff;}

/* popup */
.mfp-wrap{-webkit-overflow-scrolling:touch}
.mfp-zin.mfp-bg,
.mfp-slide-b.mfp-bg{opacity:0;-webkit-transition:opacity .3s ease-out;transition:opacity .3s ease-out;}
.mfp-zin.mfp-bg.mfp-ready,
.mfp-slide-b.mfp-bg.mfp-ready{opacity:.8;}
.mfp-zin.mfp-bg.mfp-removing,
.mfp-slide-b.mfp-bg.mfp-removing{opacity:0;}
.mfp-zin .z-anim{opacity:0;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-transform:scale(0.8);transform:scale(0.8);}
.mfp-zin.mfp-ready .z-anim{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
.mfp-zin.mfp-removing .z-anim{-webkit-transform:scale(0.8);transform:scale(0.8);opacity:0;}
.mfp-slide-b .z-anim{opacity:0;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;-webkit-transform:translateY(-20px) perspective(600px) rotateX(10deg);transform:translateY(-20px) perspective(600px) rotateX(10deg);}
.mfp-slide-b.mfp-ready .z-anim{opacity:1;-webkit-transform:translateY(0) perspective(600px) rotateX(0);transform:translateY(0) perspective(600px) rotateX(0);}
.mfp-slide-b.mfp-removing .z-anim{opacity:0;-webkit-transform:translateY(-10px) perspective(600px) rotateX(10deg);transform:translateY(-10px) perspective(600px) rotateX(10deg);}
.popup-wrap{position:relative;margin:20px auto;}
.fade-slideup .popup-wrap{opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-transform:translateY(100%);transform:translateY(100%);}
.fade-slideup.mfp-ready .popup-wrap{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
.fade-slideup.mfp-removing .popup-wrap{opacity:0;-webkit-transform:translateY(100%);transform:translateY(100%);}
.popup-wrap.fullpage{margin:0;min-height:100vh;}
.popup-wrap button.mfp-close,
.popup-wrap button.mfp-arrow{width:16px;height:16px;top:-26px;font-size:0;display:none;}
.popup-wrap .con-wrap{position:relative;}
.popup-wrap .popup-inner{margin:0 20px;}
.popup-wrap .con-wrap{border-radius:20px;overflow:hidden;}
.popup-wrap .btn-wrap a{font-weight:500;}
.popup-wrap.popup-alert .con-wrap{background-color:#fff;padding:40px 30px;text-align:center;border-radius:20px 20px 0 0;font-size:16px;line-height:1.4;font-weight:500;color:#72767A;}
.popup-wrap.popup-alert .con-wrap.tl{text-align:left;}
.popup-wrap.popup-alert .btn-wrap{background-color:#fff;border-radius:0 0 20px 20px;border-top:1px solid #EBEBEB;display:flex;overflow:hidden;}
.popup-wrap.popup-alert .btn-wrap a{padding:20px 0;display:block;text-align:center;color:#26C48C;flex-grow:1;border-left:1px solid #EBEBEB;}
.popup-wrap.popup-alert .btn-wrap a:active{background:linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #FFF;}
.popup-wrap.popup-alert .btn-wrap a.cancel{color:#bbb;}
.popup-wrap.popup-alert .btn-wrap a:first-child{border-left:0;}
.popup-wrap.popup-alert.terms .tit{font-size:16px;font-weight:700;color:#333;}
.popup-wrap.popup-alert.terms .con{font-size:14px;font-weight:500;color:#72767a;}
.popup-wrap.popup-alert.terms *  + .con{margin-top:10px;}
.popup-wrap.popup-alert.terms * + .list{margin-top:20px;}
.popup-wrap.popup-alert.terms .list > li{font-size:12px;line-height:1.6;margin-top:10px;text-indent:-10px;padding-left:10px;}
.popup-wrap.popup-alert.terms .list > li:first-child{margin-top:0;}
.popup-wrap.popup-alert.terms .list > li span{display:block;}
.popup-wrap.popup-alert.terms .list > li .s-tit{color:#26c48c;}
.popup-wrap.popup-alert.terms .list > li .s-con{color:#72767a;}
.popup-wrap#popup-today .btn-wrap{margin-top:20px;display:flex;justify-content:space-between;padding:0 20px;}
.popup-wrap#popup-today .btn-wrap a{font-size:14px;color:#fff;}
.popup-wrap#popup-today .swiper-slide img{width:100%;}

.popup-wrap.popup-bottom .con-wrap{background-color:#fff;padding:18px 16px 38px;border-radius:20px 20px 0 0;}
.popup-wrap .popup-header{position:relative;display:flex;align-items:center;justify-content: space-between;padding-bottom:10px;border-bottom:1px solid #EBEBEB;}
.popup-wrap .popup-header .tit{font-size:14px;color:#333;font-weight:500;line-height:1.4;display:flex;align-items: center;gap: 0 2px;}
.popup-wrap .popup-header .tit.payment::before{display:block;width:24px;height:24px;background:url('../img/common/ic_payment.svg') 50% 50% no-repeat;content:'';}
.popup-wrap .popup-header .btn-close{display:block;width:28px;height:28px;background:url('../img/common/ic_popup_close.svg') 50% 50% no-repeat;}
.popup-wrap .popup-content{padding:21px 0 0;position: relative;}

.fix-bottom{overflow:hidden !important;}/* 스크롤 버그 해결 */
.fix-bottom .mfp-content{vertical-align:bottom;}
.fix-bottom .mfp-container{height:auto;top:inherit;bottom:0;}
.fix-bottom .popup-wrap{margin:0 auto;}
.fix-bottom .popup-wrap .popup-inner{margin:0;}
.fix-bottom .popup-wrap .con-wrap{border-radius:20px 20px 0 0;}
.fix-bottom .popup-wrap#popup-today .btn-wrap{margin-top:0;position: absolute;left:0;top:-35px;width:100%;z-index:1;}

.cs-popup-dimm{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.75);z-index:9;display:none;}
.cs-popup-wrap{position:fixed;right:0;top:0;width:100%;max-width:1000px;height:100%;z-index:10;transform:translateX(100%);transition:transform 0.2s, opacity 0.2s;background:#fff;opacity:0;}
.cs-popup-wrap.bg_blue{background-color: #F2F9FF;}
.cs-popup-wrap.on, .cs-popup-wrap.active{transform:translateX(0);opacity:1;}
.cs-popup-wrap .popup-header{position:relative;height:50px;display:flex;padding:0 16px;align-items:center;}
.cs-popup-wrap .popup-header h1{font-size:22px;font-weight:600;}
.cs-popup-wrap .popup-header .btn-close{display:inline-block;width:28px;height:28px;background:url(../img/common/ic_close.svg) 50% 50% no-repeat;position: absolute;right:16px;top:11px;font-size:0;}
.cs-popup-wrap .popup-header .tip-area{display:inline-block;padding:5px 15px;border:1px solid #D0E8FF;border-radius:50px;}
.cs-popup-wrap .popup-header .tip-area a{color:#4289F0;font-size:12px;}
.cs-popup-wrap .popup-content{padding:20px 16px;overflow-y:auto;}
.cs-popup-wrap .sub-tit{font-size:20px;font-weight:600;line-height:1.2;margin-bottom:20px;}

/* select */
select{width:100%;height:50px;line-height:50px;border:1px solid #ebebeb;padding:0 40px 0 14px;border-radius:8px;font-size:14px;font-weight:500;color:#333333;background-image: url(../img/common/ic_select_arrow_down.svg);background-repeat: no-repeat;background-position:calc(100% - 14px) 50%;text-overflow: ellipsis;}
.select-ui{position: relative;}
.select-ui > a{border:1px solid #ebebeb;display:block;font-size:14px;line-height:1.4;padding:14px;border-radius:8px;height:50px;}
.select-ui > a::after{content:'';display:inline-block;width:11px;height:11px;background:url(../img/common/ic_select_arrow_down.svg) 50% 50% no-repeat;position: absolute;right:14px;top:19.5px;transition:transform 0.2s;}
.select-ui ul{border:1px solid #ebebeb;border-top:0;border-radius:0 0 8px 8px;padding:10px 0;display:none;position:absolute;left:0;width:100%;top:50px;background-color:#fff;z-index:1;}
.select-ui ul li a{display:block;font-size:16px;font-weight:500;color:#bbb;text-align:center;padding:17px 14px;}
.select-ui ul li.on a{color:#333;}
.select-ui.on > a{border-radius:8px 8px 0 0;}
.select-ui.on > a::after{transform:rotate(180deg);}
.select-ui.on ul{display:block;}

/* textarea */
.textarea-base textarea{width:100%;height:160px;border:1px solid #ebebeb;border-radius:8px;padding:9px 29px;font-size:16px;line-height:1.4;font-weight:500;}
.textarea-base .tx-count-area{text-align:right;margin-top:20px;}
.textarea-base .tx-count{font-size:12px;color:#bbb;font-weight:500;}
.textarea-base .tx-count em{color:#26C48C;font-weight:500;}

.textarea-base.type-2 textarea{padding:16px;font-size:14px;}
.textarea-base.type-2 textarea::-webkit-input-placeholder{font-size:14px;}
.textarea-base.type-2 textarea::-moz-placeholder{font-size:14px;}
.textarea-base.type-2 textarea:-ms-input-placeholder{font-size:14px;}
.textarea-base.type-2 textarea:-moz-placeholder{font-size:14px;}

/* toast */
.toast-area{position:fixed;left:50%;transform:translateX(-50%);background-color:rgba(0, 0, 0, 0.5);border-radius:30px;z-index:1;padding:15px 30px;opacity:0;bottom:-60px;transition:opacity .5s, bottom .5s;white-space:nowrap;}
.toast-area.on{bottom:34px;opacity:1;}
.toast-area .txt{font-size:16px;line-height:1.4;font-weight:500;color:#fff;text-align:center;display:flex;align-items:center;justify-content:center;gap:0 9px;}
.toast-area .txt::before{content:'';display:inline-block;width:15px;height:14px;background:url(../img/common/ic_warning_white.svg) 50% 50% no-repeat;flex-shrink:0;}
.toast-area.small{padding:9px 29px;backdrop-filter: blur(5px);}
.toast-area.small .txt{font-size:16px;}
.toast-area.small .txt::before{display:none;}

/* @media screen and (min-width: 1001px) {
  .cs-popup-wrap{right:50%;margin-right:-500px;}
} */

/* modal page */
.modal-area .btn-base{margin-top:10px;}
.modal-area .btn-base:first-child{margin-top:0;}

/* pin */
.cs-popup-wrap#changePassword .popup-content{padding:0;height:auto !important;}
.pin-wrapper{text-align: center;padding-top: 86px;}
.pin-wrapper .tit{font-size:22px;font-weight:600;color:#333;line-height:1.4;}
.pin-wrapper .con{font-size:14px;font-weight:500;color:#333;line-height:1.4;margin-top: 10px;}
.pin-wrapper .pin-dots {margin-top: 50px;}
.pin-wrapper .pin-dots span {display: inline-block;width: 16px;height: 16px;margin: 0 7.5px;border-radius: 50%;background: #D9D9D9;}
.pin-wrapper .pin-dots span.filled { background: #4289F0;}
.pin-wrapper .error-message {font-size:12px;font-weight:500;color:#fc4852;margin-top:20px;line-height:1.4;}
.pin-wrapper .keypad-area {background-color: #fff;position: absolute;left:0;bottom:0;width:100%;padding:40px 0;}
.pin-wrapper .keypad-area .keypad {background-color: #fff;margin: 0 auto;max-width: 330px;display: flex;flex-direction: column;}
.pin-wrapper .keypad-area .keypad .row {display: flex;justify-content: space-between;}
.pin-wrapper .keypad-area .keypad button {flex: 1;padding: 12px 0;font-size: 22px;font-family:'Montserrat';line-height:1.4;}
.pin-wrapper .keypad-area .keypad .clear{font-size:14px;font-family:'Pretendard';color:#72767a;}
.pin-wrapper .keypad-area .keypad .back{}
.pin-wrapper .keypad-area .btn-reset{position: absolute;left:50%;top:-52px;transform:translateX(-50%);font-size:14px;color:#72767a;text-decoration: underline;}

/* font */
.clp-fs104 {font-size:104px;}
.clp-fs72 {font-size:72px;}
.clp-fs62 {font-size:62px;}
.clp-fs61 {font-size:61px;}
.clp-fs60 {font-size:60px;}
.clp-fs59 {font-size:59px;}
.clp-fs58 {font-size:58px;}
.clp-fs57 {font-size:57px;}
.clp-fs56 {font-size:56px;}
.clp-fs55 {font-size:55px;}
.clp-fs54 {font-size:54px;}
.clp-fs53 {font-size:53px;}
.clp-fs52 {font-size:52px;}
.clp-fs51 {font-size:51px;}
.clp-fs50 {font-size:50px;}
.clp-fs49 {font-size:49px;}
.clp-fs48 {font-size:48px;}
.clp-fs47 {font-size:47px;}
.clp-fs46 {font-size:46px;}
.clp-fs45 {font-size:45px;} 
.clp-fs44 {font-size:44px;} 
.clp-fs43 {font-size:43px;} 
.clp-fs42 {font-size:42px;} 
.clp-fs41 {font-size:41px;} 
.clp-fs40 {font-size:40px;} 
.clp-fs39 {font-size:39px;} 
.clp-fs38 {font-size:38px;} 
.clp-fs37 {font-size:37px;} 
.clp-fs36 {font-size:36px;} 
.clp-fs35 {font-size:35px;} 
.clp-fs34 {font-size:34px;} 
.clp-fs33 {font-size:33px;} 
.clp-fs32 {font-size:32px;} 
.clp-fs31 {font-size:31px;} 
.clp-fs30 {font-size:30px;} 
.clp-fs29 {font-size:29px;} 
.clp-fs28 {font-size:28px;} 
.clp-fs27 {font-size:27px;} 
.clp-fs26 {font-size:26px;} 
.clp-fs25 {font-size:25px;} 
.clp-fs24 {font-size:24px;} 
.clp-fs23 {font-size:23px;} 
.clp-fs22 {font-size:22px;} 
.clp-fs21 {font-size:21px;} 
.clp-fs20 {font-size:20px;} 
.clp-fs19 {font-size:19px;} 
.clp-fs18 {font-size:18px;} 
.clp-fs17 {font-size:17px;} 
.clp-fs16 {font-size:16px;} 
.clp-fs15 {font-size:15px;} 
.clp-fs14 {font-size:14px;}
.clp-fs13 {font-size:13px;}
.clp-fs12 {font-size:12px;}
[class*="clp-fs"]{font-family:'Noto Sans KR';}
[class*="clp-fs"] strong{font-weight:700;}

@media screen and (max-width: 750px) {
  .btn-base.tp1 > *{font-size:20px;padding:16px 10px;}
  .btn-base.tp1 > *.sm{font-size:14px;padding:15px 10px;}
  .btn-base.tp1.reverse > *{padding:15px 9px;}
  .btn-base.tp2 > *{font-size:14px;padding:14px 20px;border-radius:8px;color:#bbb;line-height:1.4;}

  .fix-btn-area:not(.no_fixed){position:fixed;left:0;bottom:0;width:100%;padding:16px;z-index:2;background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.85));margin-top:0;}
  .fix-chk-area{position:fixed;left:16px;right:16px;bottom:106px;}
  .fix-reason-area{position:fixed;left:16px;right:16px;bottom:106px;margin-top:0;}
  .fix-btn-area.type_2,
  .fix-chk-area.type_2{background-color:#fff;}
  .fix-chk-area.type_2{z-index:3;margin-top:0 !important;border-top:1px solid #ddd;left:0;right:0;padding:20px 16px 0;}
  .fix-chk-area.type_2 .chk-base-wrap{border:1px solid #eee;border-radius:8px;padding:15px 20px;}

  /* 반응형 폰트 */
  .clp-fs104 {font-size:clamp(25px,12vmin,104px);}
  .clp-fs72 {font-size:clamp(22px,7.7vmin,72px);}
  .clp-fs62 {font-size:clamp(22px,6.7vmin,62px);}
  .clp-fs61 {font-size:clamp(22px,6.6vmin,61px);}
  .clp-fs60 {font-size:clamp(22px,6.5vmin,60px);}
  .clp-fs59 {font-size:clamp(22px,6.4vmin,59px);}
  .clp-fs58 {font-size:clamp(22px,6.3vmin,58px);}
  .clp-fs57 {font-size:clamp(22px,6.2vmin,57px);}
  .clp-fs56 {font-size:clamp(22px,6.1vmin,56px);}
  .clp-fs55 {font-size:clamp(22px,6.0vmin,55px);}
  .clp-fs54 {font-size:clamp(22px,5.9vmin,54px);}
  .clp-fs53 {font-size:clamp(22px,5.8vmin,53px);}
  .clp-fs52 {font-size:clamp(22px,5.7vmin,52px);}
  .clp-fs51 {font-size:clamp(22px,5.6vmin,51px);}
  .clp-fs50 {font-size:clamp(22px,5.5vmin,50px);}
  .clp-fs49 {font-size:clamp(20px,5.4vmin,49px);}
  .clp-fs48 {font-size:clamp(20px,5.3vmin,48px);}
  .clp-fs47 {font-size:clamp(20px,5.2vmin,47px);}
  .clp-fs46 {font-size:clamp(20px,5.1vmin,46px);}
  .clp-fs45 {font-size:clamp(20px,5.0vmin,45px);}
  .clp-fs44 {font-size:clamp(20px,4.9vmin,44px);}
  .clp-fs43 {font-size:clamp(20px,4.8vmin,43px);}
  .clp-fs42 {font-size:clamp(20px,4.7vmin,42px);}
  .clp-fs41 {font-size:clamp(20px,4.6vmin,41px);}
  .clp-fs40 {font-size:clamp(20px,4.5vmin,40px);}
  .clp-fs39 {font-size:clamp(20px,4.4vmin,39px);}
  .clp-fs38 {font-size:clamp(20px,4.3vmin,38px);}
  .clp-fs37 {font-size:clamp(20px,4.2vmin,37px);}
  .clp-fs36 {font-size:clamp(20px,4.1vmin,36px);}
  .clp-fs35 {font-size:clamp(20px,4.0vmin,35px);}
  .clp-fs34 {font-size:clamp(20px,3.9vmin,34px);}
  .clp-fs33 {font-size:clamp(17px,3.8vmin,33px);}
  .clp-fs32 {font-size:clamp(17px,3.7vmin,32px);}
  .clp-fs31 {font-size:clamp(17px,3.6vmin,31px);}
  .clp-fs30 {font-size:clamp(17px,3.5vmin,30px);}
  .clp-fs29 {font-size:clamp(17px,3.4vmin,29px);}
  .clp-fs28 {font-size:clamp(17px,3.3vmin,28px);}
  .clp-fs27 {font-size:clamp(16px,3.2vmin,27px);}
  .clp-fs26 {font-size:clamp(16px,3.1vmin,26px);}
  .clp-fs25 {font-size:clamp(16px,3.0vmin,25px);}
  .clp-fs24 {font-size:clamp(15px,2.9vmin,24px);}
  .clp-fs23 {font-size:clamp(15px,2.8vmin,23px);}
  .clp-fs22 {font-size:clamp(15px,2.7vmin,22px);}
  .clp-fs21 {font-size:clamp(15px,2.6vmin,21px);}
  .clp-fs20 {font-size:clamp(15px,2.5vmin,20px);}
  .clp-fs19 {font-size:clamp(15px,2.4vmin,19px);}
  .clp-fs18 {font-size:clamp(14px,2.3vmin,18px);}
  .clp-fs17 {font-size:clamp(13px,2.2vmin,17px);}
  .clp-fs16 {font-size:clamp(13px,2.1vmin,16px);}
  .clp-fs15 {font-size:clamp(13px,2.0vmin,15px);}
  .clp-fs14 {font-size:clamp(13px,1.9vmin,14px);}
  .clp-fs13 {font-size:clamp(13px,1.8vmin,13px);}
  .clp-fs12 {font-size:clamp(12px,1.7vmin,12px);}
}