@charset "utf-8";

/* common */
#wrapper .swiper-pagination-bullet{width:10px;height:10px;background-color:#fff;opacity:1;}
#wrapper .swiper-pagination-bullet-active{background-color:#333;}
.popup-swiper .swiper-pagination-fraction{position:absolute;right:20px;bottom:20px;left:initial;width:auto;background-color:rgba(0, 0, 0, 0.5);border-radius:100px;padding:2px 6px;font-size:14px;line-height:17px;color:#bbb;}
.popup-swiper .swiper-pagination-fraction .swiper-pagination-current{color:#fff;
}

.sub-tit dt{font-size:16px;font-weight:600;color:#333;}
.sub-tit dt span{color:#bbb;font-weight:500;}
.sub-tit dd{font-size:12px;font-weight:500;line-height:1.6;color:#72767a;margin-top:10px;}
.b-tit{font-size:20px;font-weight:600;color:#333;line-height:1.2;padding:20px 0;}
.s-txt{font-size:12px;font-weight:500;color:#72767a;line-height:1.6;}

.intro{font-size:22px;font-weight:600;line-height:1.4;}
.intro span{font-weight:400;}
.logo + .intro{margin-top:6px;}

.info-area li{font-size:12px;line-height:1.6;color:#72767a;text-indent:-10px;padding-left:10px;}
.info-area li span{color:#26C48C;}
.info-area.tp2 li{font-weight:500;}
.info-area.tp2 li span{color:#4289F0;}

/* main */
.top-visual-wrap{position: relative;overflow:hidden;}
.top-visual{position: relative;width:1920px;height:445px;left:50%;margin-left:-960px;}
.top-visual .swiper-container-horizontal > .swiper-pagination-bullets{bottom:70px;}

.product-box{padding:34px 30px 40px;background-color:#fff;box-shadow: 0px 4px 12px 0px #D3E4F1;border-radius:20px;}
.product-box .tit{font-size:22px;font-weight:600;position: relative;padding-left:29px;line-height:1.18;}
.product-box .tit::before{content:'';display:inline-block;width:24px;height:24px;position: absolute;left:0;top:1px;}

.product-list{display:flex;gap:20px 17px;margin-top:24px;flex-wrap:wrap;}
.product-list > li{width:calc(33.33% - 12px);}
.product-list > li a{display:block;}
.product-list > li dl{display:flex;gap:0 12px;align-items:center;width:100%;/*flex-wrap:wrap;*/}
.product-list > li dl dt{border:1px solid #ebebeb;border-radius:8px;display:inline-block;overflow:hidden;width:77px;flex-shrink:0;position:relative;background:#F5F5F5 url(../img/common/ic_thumb.svg) 50% 50% no-repeat;padding:0 0 75px 0;}
.product-list > li dl dt img{width:100%;position:absolute;left:0;top:0;}
.product-list > li dl dt .label{position: absolute;left:0;top:0;display:inline-block;border-radius:8px 0 8px 0;background-color:#4289f0;padding:13px 4px;font-size:16px;color:#fff;font-weight:700;}
.product-list > li dl dt .dimm-txt{position: absolute;left:0;top:0;width:100%;height:100%;display:flex;background-color:rgba(0, 0, 0, 0.5);justify-content:center;align-items:center;font-size:16px;font-weight:500;color:#fff;line-height:1.4;}
.product-list > li dl dd{flex-grow:1;min-width:0;}/* 내부 요소 말줄임 안되는 버그 해결 */
.product-list.gift > li dl dt{width:70px;padding:0 0 70px 0;border:0;border-radius:50%;background-color:#fff;background-image:none;}
.product-list.gift > li .order-detail{position:relative;}
.product-list.gift > li .order-detail > .chk-base{position:absolute;left:0;top:50%;transform:translateY(-50%);}
.product-list.gift > li dl{padding-left:30px;}
.product-list.gift > li .change-date{font-size:14px;margin-top:5px;}
.product-list.gift > li .change-date .label{color:#999;}
.product-list.gift > li .change-date .date{}

.product-list-swiper{overflow:hidden;}
.product-list-swiper a{display:block;margin-top:20px;}
.product-list-swiper a:first-child{margin-top:0;}
.product-list-swiper dl{display:flex;gap:0 12px;align-items:center;width:100%;/*flex-wrap:wrap;*/}
.product-list-swiper dl dt{border:1px solid #ebebeb;border-radius:8px;display:inline-block;overflow:hidden;width:77px;flex-shrink:0;position:relative;background:#F5F5F5 url(../img/common/ic_thumb.svg) 50% 50% no-repeat;padding:0 0 75px 0;}
.product-list-swiper dl dt img{width:100%;position:absolute;left:0;top:0;}
.product-list-swiper dl dt .label{position: absolute;left:0;top:0;display:inline-block;border-radius:8px 0 8px 0;background-color:#4289f0;padding:13px 4px;font-size:16px;color:#fff;font-weight:700;}
.product-list-swiper dl dt .dimm-txt{position: absolute;left:0;top:0;width:100%;height:100%;display:flex;background-color:rgba(0, 0, 0, 0.5);justify-content:center;align-items:center;font-size:16px;font-weight:500;color:#fff;line-height:1.4;}
.product-list-swiper dl dd{flex-grow:1;min-width:0;}
#wrapper .product-list-swiper .swiper-pagination-bullet{background-color: #ddd;}
#wrapper .product-list-swiper .swiper-pagination-bullet-active{background-color: #333;}

.product-info > span{display:block;}
.product-info .brand{font-size:14px;font-weight:500;color:#72767a;}
.product-info .name{font-size:16px;font-weight:500;margin-top:5px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.product-info .price{margin-top:10px;display:flex;align-items:center;gap:0 5px;}
.product-info .price .discount, .product-info .price .current{font-size:16px;font-weight:700;}
.product-info .price .discount{color:#4289f0;}
.product-info .price .before{font-size:12px;font-weight:500;color:#bbb;text-decoration:line-through;}
.product-info .price .count{display:inline-block;font-size:12px;font-weight:600;color:#4289f0;padding:4px 6px;border-radius:4px;background-color:#F2F9FF;margin-left:5px;}
.product-info .price .count em{font-family:'Montserrat';font-weight:600;}

.product-swiper dt{border-radius:8px;border:1px solid #ebebeb;overflow:hidden;background:#ffffff url(../img/common/ic_thumb.svg) 50% 50% no-repeat;position: relative;padding:0 0 99% 0;}
.product-swiper dt img{width:100%;position: absolute;}
.product-swiper dd{margin-top:12px;}
.product-swiper dd.product-info .price{display:block;}
.product-swiper dd.product-info .price > span{display:inline-block;}
.product-swiper dd.product-info .price .before{width:100%;margin-top:5px;}
.product-swiper dd.product-info .name{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;height:44px;line-height:22px;white-space:initial;}

.main-recently-area{position: relative;}
.main-recently.product-box{position: absolute;top:-40px;left:0;right:0;}
.main-recently.product-box .tit::before{background:url(../img/main/ic_crown.svg) 50% 50% no-repeat;}

.main-banner-area, .main-product-area, .main-promo-area, .main-slide-area{margin-top:80px;}

.main-banner-area{display:flex;gap:0 20px;justify-content:space-between;}
.main-banner-area > a{width:50%;padding:25px 40px;border-radius:8px;display:flex;justify-content:space-between;align-items:center;}
.main-banner-area > a.type-1{background-color: #D0E8FF;}
.main-banner-area > a.type-2{background-color: #B5FADC;}
.main-banner-area > a .con-area span{display:block;}
.main-banner-area > a .con-area .label{font-size:18px;font-weight:600;}
.main-banner-area > a .con-area .con{font-size:14px;font-weight:500;color:#72767a;margin-top:5px;}

.main-product-area .tit{font-size:22px;font-weight:600;margin-bottom:16px;}

.main-promo-area .product-bg{border-radius:20px 20px 0 0;overflow:hidden;}
.main-promo-area .product-box{border-radius:0 0 20px 20px;}
.main-promo-area .product-box .tit{padding-left:0;}
.main-promo-area .product-box .tit::before{display:none;}

.main-slide-area{border-radius:8px;overflow:hidden;}
.main-slide-area .swiper-container-horizontal > .swiper-pagination-bullets{bottom:20px;}

/* search */
.search-result .product-list{gap:40px 20px;margin-top:10px;}
.search-result .product-list > li{width:calc(25% - 15px);}
.search-result .product-list > li dl{display:block;}
.search-result .product-list > li dl dt{width:100%;padding:0 0 99% 0;}
.search-result .product-list > li dl dd{margin-top:12px;}
.search-result .product-info .name{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;height:44px;line-height:22px;white-space:initial;}
.search-result .product-info .price{justify-content:space-between;}
.search-paging{position: fixed;left:50%;bottom:50px;transform:translateX(-50%);display:inline-block;padding:5px 18px;border-radius:100px;background-color:rgba(0, 0, 0, 0.5);font-size:14px;font-weight:500;color:#bbb;line-height:1.4;}
.search-paging em.current{color:#fff;}

.search-result .product-list .product-info .discount-area{display:flex;justify-content: space-between;}
.search-result .product-list .product-info .discount-area .label{font-size:12px;font-weight:500;line-height:1.6;color:#fc4852;display:flex;gap:0 2px;align-items: center;}
.search-result .product-list .product-info .discount-area .label::before{content:'';display:block;width:14px;height:14px;background:url('../img/common/ic_check_fill.svg') 50% 50% no-repeat;}
.search-result .product-list .product-info .discount-area .discount{display:inline-block;padding:3px 4px;border-radius:4px;background-color: #26c48c;font-size:12px;color:#fff;font-weight:500;}
.search-result .product-list .product-info .discount-area + .brand{margin-top:5px;}

.search-result .product-list.ver_slot > li dl dt{padding:17% 19% 20%;background: url('../img/subscribe/slot_frame.svg') 50% 50% no-repeat;background-size: cover;border: 0;position: relative;}
.search-result .product-list.ver_slot > li dl dt .product-frame{background:#F5F5F5 url(../img/common/ic_thumb.svg) 50% 50% no-repeat;border-radius:11.5%;aspect-ratio: 101/100;position: relative;overflow:hidden;}
.search-result .product-list.ver_slot > li dl dt .side_item {position: absolute;width: 45px;height: 45px;right: 8%;top: 8%;border-radius: 30px;border: 1px solid #26C48C;background: #FFF;padding: 5px;}
.search-result .product-list.ver_slot > li dl dt .side_item::before{content:'';display:inline-block;width:28px;height:28px;background:url('../img/common/ic_ribbon.svg') 50% 50% no-repeat;position: absolute;left: 50%;top:-15px;margin-left:-14px;}
.search-result .product-list.ver_slot > li dl dt .side_item img{position: static;border-radius:50%;}


.no-data{padding:200px 0;}
.no-data p{font-size:20px;font-weight:500;line-height:1.4;color:#72767a;text-align:center;}
.no-data p::before{content:'';display:block;width:60px;height:60px;background:url(../img/common/ic_data.svg) 50% 50% no-repeat;margin:0 auto 30px;}
.no-data p .keyword{color:#26C48C;}

/* mypage */
.menu-list > li{border-bottom:1px solid #ebebeb;background-color:#fff;}
.menu-list > li > a{display:flex;padding:16px 20px;justify-content:space-between;font-size:16px;font-weight:500;line-height:1.4;position: relative;}
.menu-list > li > a::after{content:'';display:block;width:22px;height:22px;background:url(../img/common/ic_menu_arrow.svg) 50% 50% no-repeat;}
.menu-list > li > a > span{display:flex;gap:0 12px;}
.menu-list > li > a > span::before{content:'';display:block;width:20px;height:20px;background-repeat:no-repeat;background-position:50% 50%;}
.menu-list > li.mypage-1 > a > span::before{background-image:url(../img/mypage/ic_mypage_1.png);}
.menu-list > li.mypage-2 > a > span::before{background-image:url(../img/mypage/ic_mypage_2.png);}
.menu-list > li.mypage-3 > a > span::before{background-image:url(../img/mypage/ic_mypage_3.png);}
.menu-list > li.mypage-4 > a > span::before{background-image:url(../img/mypage/ic_mypage_4.png);}
.menu-list > li.mypage-5 > a > span::before{background-image:url(../img/mypage/ic_mypage_5.png);}
.menu-list > li.mypage-6 > a > span::before{background-image:url(../img/mypage/ic_mypage_6.png);}
.menu-list > li.mypage-7 > a > span::before{background-image:url(../img/mypage/ic_mypage_7.png);}
.menu-list > li.mypage-8 > a > span::before{background-image:url(../img/mypage/ic_mypage_8.svg);}

.right-area .contact-info{margin-top:20px;}
.right-area .contact-info .tit{font-size:14px;font-weight:600;line-height:1.4;}
.right-area .contact-info ul{margin-top:10px;}
.right-area .contact-info li{font-size:12px;font-weight:500;line-height:1.6;color:#72767a;}

/* login */
.login-area .logo{font-size:30px;font-weight:700;color:#26c48c;text-align:center;padding:10px 0 30px;font-family:'Montserrat';}
.login-area .chk-list{margin-top:30px;}
.login-area .chk-list + .btn-base{margin-top:20px;}
.login-area .text-menu{display:flex;justify-content:center;gap:0 20px;align-items:center;margin-top:30px;}
.login-area .text-menu li{font-size:14px;font-weight:500;line-height:1.4;}
.login-area .text-menu li.line{width:1px;height:8px;background-color:#d9d9d9;}
.login-area .sns-login{text-align:center;margin-top:60px;}
.login-area .sns-login dt{display:flex;justify-content:space-between;gap:0 10px;align-items:center;}
.login-area .sns-login dt span{flex-shrink:0;}
.login-area .sns-login dt::before, .login-area .sns-login dt::after{content:'';display:block;width:100%;height:1px;flex-grow:1;background-color:#ebebeb;}
.login-area .sns-login dd{display:flex;justify-content:center;gap:0 40px;padding-top:20px;}

/* join */
.join-area .logo,
.charge-area .logo{font-size:16px;color:#26c48c;font-family:'Montserrat';font-weight:700;}
.join-area .chk-list.vertical{padding:30px 0;border-top:1px solid #EBEBEB;border-bottom:1px solid #EBEBEB;margin-top:26px;}
.term-area .b-tit{font-size:16px;font-weight:700;color:#26c48c;padding-bottom:16px;border-bottom:1px solid #EBEBEB;}
.term-area ul{margin-top:16px;}
.term-area li{font-size:12px;font-weight:500;line-height:1.6;margin-top:16px;}
.term-area li:first-child{margin-top:0;}
.term-area li strong{font-weight:inherit;}
.term-area li p{white-space:pre-line;color:#72767A;}
.term-area li strong + p{margin-top:4px;}
.api-area > img{width:100%;}
.msg-area{font-weight:500;line-height:1.4;text-align:center;padding:80px 0;}
.msg-area dt{font-size:20px;color:#333;}
.msg-area dt.logo{font-size:30px;color:#26c48c;font-family:'Montserrat';font-weight:700;margin-bottom:23px;}
.msg-area dd{font-size:14px;color:#72767A;margin-top:20px;}
.my-info{padding:20px;background-color:#4289F0;border-radius:8px;}
.my-info li{display:flex;gap:0 20px;line-height:1.4;font-size:14px;font-weight:600;margin-top:20px;}
.my-info li:first-child{margin-top:0;}
.my-info li .label{flex-shrink:0;color:#d0e8ff;display:flex;align-items:center;gap:0 10px;min-width:78px;}
.my-info li .label::before{content:'';display:block;width:20px;height:20px;}
.my-info li .label.people::before{background:url(../img/member/ic_people.svg) 50% 50% no-repeat;}
.my-info li .label.phone::before{background:url(../img/member/ic_phone.svg) 50% 50% no-repeat;}
.my-info li .label.id::before{background:url(../img/member/ic_id.svg) 50% 50% no-repeat;}
.my-info li .label.password::before{background:url(../img/member/ic_lock.svg) 50% 50% no-repeat;}
.my-info li .name{flex-grow:1;color:#fff;}
.my-info li .name.password{display:flex;align-items:center;gap:0 8px;}
.my-info li .name .p-txt{font-size:0;width:5px;height:5px;border-radius:50%;background-color:#fff;display:block;}
.my-info li .btn{font-size:12px;font-weight:500;color:#fff;text-decoration:underline;}
.chk-join-form{margin-top:30px;gap:10px 80px;}
.join-title{display:flex;align-items:center;gap:0 10px;}
.join-title .ico{display:flex;align-items:center;justify-content:center;width:30px;height:30px;background-color:#F2F9FF;border-radius:50%;}
.join-title .ico.id img{width:14px;}
.join-title .ico.password img{width:20px;}
.join-title .txt{font-size:20px;font-weight:600;}
.join-area .info-area{padding-top:40px;margin-top:40px;border-top:1px solid #EBEBEB;}

/* archive */
.archive-list li{margin-top:10px;}
.archive-list li:first-child{margin-top:0;}
.archive-list li a{display:flex;align-items:center;padding:12px 16px;justify-content:space-between;background-color:#fff;border-radius:8px;}
.archive-list li a .al{display:flex;align-items:center;gap:0 12px;}

/* charge */
.my-charge{padding:20px;border-radius:8px;background-color:#4289f0;text-align:center;}
.my-charge span{display:block;line-height:1.4;color:#fff;}
.my-charge .label{font-size:16px;font-weight:500;}
.my-charge .total{font-size:22px;font-weight:600;margin-top:10px;}
.my-charge .total em{font-size:30px;font-family:'Montserrat';font-weight:700;}
.my-charge .btn{display:inline-block;padding:8px 15px;font-size:12px;color:#fff;font-weight:500;border:1px solid #D0E8FF;border-radius:50px;margin-top:20px;}
.tip-list li{font-size:14px;font-weight:500;padding-left:24px;position: relative;line-height:1.4;}
.tip-list li::before{content:'';display:inline-block;width:20px;height:20px;background:url(../img/common/ic_tip.svg) 0 0 no-repeat;position:absolute;left:0;top:0;}
.tip-list li em{font-weight:inherit;color:#4289f0;}
.section-area{padding:40px 0;border-top:1px solid #ebebeb;}
.section-area.tp2{border-top:0;padding-bottom:0;}
.section-area .s-tit{font-size:20px;font-weight:600;line-height:1.2;margin-bottom:20px;}
.section-area .s-tit span{font-weight:400;}
.sm-area{padding:20px 0 0;margin-top:20px;border-top:1px solid #ebebeb;}
.sm-area.between{display:flex;justify-content:space-between;align-items:center;}
.total-area{padding:20px;background-color:#f2f9ff;border-radius:8px;}
.total-area > dt, .total-area > dd li{display:flex;justify-content:space-between;align-items:center;}
.total-area > dt .label{font-size:20px;font-weight:600;}
.total-area > dt .price{font-size:16px;font-weight:500;color:#4289F0;}
.total-area > dt .price em{font-size:22px;font-weight:700;font-family:'Montserrat';}
.total-area > dd{padding-top:20px;margin-top:20px;border-top:1px solid #ebebeb;}
.total-area > dd li{font-size:14px;font-weight:500;line-height:1.4;margin-top:7px;}
.total-area > dd li:first-child{margin-top:0;}
.total-area > dd li .label{color:#72767a;}

.result-area{padding:80px 0;}
.result-area span{font-size:16px;font-weight:500;text-align:center;display:block;line-height:1.4;}
.result-area span::before{content:'';display:block;width:38px;height:38px;background-position:50% 50%;background-repeat:no-repeat;margin:0 auto 18px;}
.result-area.success span::before{background-image:url(../img/common/ic_success.png);}
.result-area.fail span::before{background-image:url(../img/common/ic_fail.png);}

.reason-con{padding:20px;border-radius:8px;background-color:#f5f5f5;}
.reason-con dt{font-size:16px;font-weight:600;padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #ebebeb;}
.reason-con dd{font-size:12px;font-weight:500;line-height:1.6;color:#72767a;}
.reason-total{padding:20px;background-color:#f5f5f5;border-radius:8px;margin-top:10px;}
.reason-total:first-child{margin-top:0;}
.reason-total li{display:flex;justify-content:space-between;margin-top:6px;}
.reason-total li:first-child{margin-top:0;}
.reason-total li span{font-size:14px;line-height:1.4;}
.reason-total li .label{color:#72767a;font-weight:500;}
.reason-total li .result{color:#333;font-weight:600;}
.reason-total li .result em{font-weight:600;font-family:'Montserrat';}
.reason-total li .result.product{color:#4289F0;}
.certify-area{display:inline-block;padding:4px 8px;background: rgba(219, 30, 41, 0.05);border-radius:100px;margin-top:20px;}
.certify-area .time{display:flex;font-size:12px;font-weight:500;color:#fc4852;align-items:center;gap:0 6px;}
.certify-area .time::before{content:'';display:block;width:16px;height:16px;background:url(../img/common/ic_certify.svg) 0 0 no-repeat;}

.total-price-wrap{background-color:#f2f9ff;padding:30px 20px;max-width:1000px;margin:0 auto;}
.total-price-wrap .price-top,
.total-price-wrap .price-list{padding-right:32px;}
.total-price-wrap .price-top{font-size:16px;line-height:1.4;position: relative;}
.total-price-wrap .price-top .arrow{content:'';display:block;width:22px;height:22px;background:url(../img/common/ic_more_arrow.svg) 50% 50% no-repeat;transform:rotate(0deg);transition:transform 0.2s;position: absolute;right:0;top:4px;cursor:pointer;}
.total-price-wrap .price-top,
.total-price-wrap .price-list li{display:flex;justify-content:space-between;align-items:center;font-size:14px;}
.total-price-wrap .price-list li{margin-top:15px;}
.total-price-wrap .price-list li:first-child{margin-top:0;}
.total-price-wrap .label{font-weight:500;}
.total-price-wrap .price{color:#4289f0;display:flex;align-items:center;gap:0 3px;font-weight:500;}
.total-price-wrap .price em{font-weight:500;}
.total-price-wrap .price-top .price em{font-size:22px;font-weight:bold;}
.total-price-wrap .price-list{margin-top:20px;display:none;}
.total-price-wrap.on .price-top .arrow{transform:rotate(180deg);}
.total-price-wrap.on .price-list{display:block;}

/* gift */
.brand-top{overflow:hidden;margin:0 auto;max-width:1080px;padding:25px 40px;position: relative;z-index:3;background-color:#fff;}
.brand-swiper.swiper-container{overflow:inherit;}
.brand-swiper.swiper-container .swiper-slide{width:70px;margin-right:14px;border-radius:5px;overflow:hidden;}
.brand-swiper.swiper-container .swiper-slide dt{width:70px;height:70px;background:#F5F5F5 url(../img/common/ic_thumb.svg) 50% 50% no-repeat;border-radius:35px;}
.brand-swiper.swiper-container .swiper-slide dd{font-size:14px;font-weight:500;line-height:1.4;margin-top:10px;text-align:center;}
.brand-swiper.swiper-container .swiper-slide:last-child{margin-right:0;}
.brand-swiper.swiper-container.ver_square .swiper-slide dt{border-radius:8px;border:1px solid #EBEBEB;}
.brand-swiper.swiper-container.ver_square .swiper-slide.ver_more dt{background:#fff url('../img/common/ic_plus.svg') 50% 50% no-repeat;}

/* gift - 상품정보 */
.gift-visual{max-width:1000px;margin:0 auto;}
.gift-visual img{width:100%;}
.gift-visual .swiper-container-horizontal > .swiper-pagination-bullets{bottom:16px;width:auto;right:16px;left:initial;}
.gift-visual .swiper-pagination-bullet{width:10px;height:10px;background-color:#fff;opacity:1;}
.gift-visual .swiper-pagination-bullet-active{background-color:#333;}
.gift-detail{padding:16px;}
.gift-detail .gift-inner{border-bottom:1px solid #EBEBEB;padding-bottom:16px;}
.gift-detail .brand{font-size:14px;font-weight:500;line-height:1.4;color:#72767a;}
.gift-detail .name{display:block;margin-top:5px;font-size:20px;font-weight:600;line-height:24px;}
.gift-detail .price{display:flex;margin-top:24px;align-items:center;}
.gift-detail .price .discount{font-size:20px;font-weight:500;color:#4289f0;font-family:"Montserrat";}
.gift-detail .price .before{font-size:12px;color:#bbb;font-weight:500;text-decoration:line-through;margin-left:16px;}
.gift-detail .price .before strong{font-family:"Montserrat";}
.gift-detail .price .current{font-size:20px;font-weight:600;color:#333;font-weight:600;margin-left:5px;}
.gift-detail .price .current strong{font-weight:700;font-family:"Montserrat";}
.gift-detail .gift-period{padding-top:16px;display:flex;gap:0 10px;font-size:12px;font-weight:500;}
.gift-detail .gift-period .label{color:#333;display:flex;gap:0 4px;align-items:center;}
.gift-detail .gift-period .label::before{content:'';display:block;width:12px;height:12px;background:url(../img/common/ic_calendar_blue.svg) 50% 50% no-repeat;}
.gift-detail .gift-period .value{color:#72767a;}
.gift-line{background-color:#F2F9FF;height:10px;}
.gift-tab-area .tab-base > li{width:50%;}
.gift-tab-area .panel-base > li{padding:20px 16px;}
.gift-tab-area .panel-base > li img{width:100%;}

/* gift - 선물하기 */
.top-mileage{display:flex;justify-content:space-between;background-color:#F2F9FF;padding:16px 20px;align-items:center;max-width:1000px;margin:0 auto;}
.top-mileage .label{font-size:16px;font-weight:500;}
.top-mileage .info{display:flex;gap:0 20px;align-items:center;}
.top-mileage .info .price{font-size:16px;font-weight:700;color:#4289f0;}
.top-mileage .info .price em{font-weight:700;font-family:"Montserrat";}
.top-mileage .info .btn{display:block;padding:9px 22px;background-color:#4289F0;border-radius:30px;font-size:12px;font-weight:500;color:#fff;}
.order-form > li{padding:40px 0;border-top:1px solid #EBEBEB;}
.order-form > li:first-child{padding-top:0;border-top:0;}
.order-form > li:last-child{padding-bottom:0;}
.order-form > li .label-area{display:flex;justify-content:space-between;align-items:center;}
.order-form > li .label-area .label{font-size:20px;font-weight:600;}
.order-form > li .label-area .logo{font-size:16px;font-weight:700;color:#24c48c;}
.order-form > li .label-area .price{font-size:18px;font-weight:500;display:flex;gap:0 10px;align-items:center;}
.order-form > li .label-area .price i.arrow{content:'';display:block;width:22px;height:22px;background:url(../img/common/ic_more_arrow.svg) 50% 50% no-repeat;transform:rotate(180deg);transition:transform 0.2s;}
.order-form > li .label-area .price span em{font-weight:700;font-family:"Montserrat";}
.order-form > li .label-area .total{font-size:14px;font-weight:500;color:#bbb;line-height:1.4;}
.order-form > li .label-area .total em{color:#333;}
.order-form > li .label-area.type_logo{flex-direction:column;align-items:flex-start;gap:6px 0;}
.order-form > li .con-area{margin-top:20px;}
.order-form > li .con-area .product-list{margin-top:0;}
.order-form > li .gift-info > .con-area{display:none;}
.order-form > li .gift-info.on .label-area .price i.arrow{transform:rotate(0deg);}
.order-form > li .gift-info.on > .con-area{display:block;}
.order-form > li .mms-area{margin-top:20px;text-align:center;border:5px solid #d53f41;width:343px;cursor:pointer;}
.order-form > li .mms-area img{width:100%;}
.order-form > li .mms-area .mms-banner{cursor:pointer;}
.order-form > li .mms-area .mms-product{padding:20px;}
.order-form > li .mms-area .mms-product dt{width:120px;margin:0 auto;}
.order-form > li .mms-area .mms-product dd{display:flex;align-items:center;gap:0 10px;margin-top:20px;}
.order-form > li .mms-area .mms-product dd .thumb{width:70px;flex-shrink:0;}
.order-form > li .mms-area .mms-product dd ul{flex-grow:1;}
.order-form > li .mms-area .mms-product dd li{font-size:14px;line-height:1.4;margin-top:6px;text-align:left;font-weight:600;}
.order-form > li .mms-area .mms-product dd li:first-child{margin-top:0;}
.order-form > li .mms-area .mms-barcode{padding:0 20px 4px;max-width:256px;margin:0 auto;}
.order-form > li .mms-area .mms-period{background-color:#d53f41;display:flex;align-items:center;gap:0 25px;padding:15px 20px;}
.order-form > li .mms-area .mms-period .logo{flex-shrink:0;}
.order-form > li .mms-area .mms-period .info{flex-grow:1;}
.order-form > li .mms-area .mms-period .info li{text-align:left;font-size:14px;font-weight:600;color:#fff;line-height:1.4;margin-top:2px;}
.order-form > li .mms-area .mms-period .info li:first-child{margin-top:0;}

.result-list > li{padding:20px;margin-top:10px;border-radius:8px;font-size:14px;font-weight:500;line-height:1.4;}
.result-list > li:first-child{margin-top:0;}
.result-list > li.type-1{background-color:#f5f5f5;}
.result-list > li.type-2, .result-list > li.type-3{background-color:#F2F9FF;}
.result-list > li li{margin-top:6px;}
.result-list > li li:first-child{margin-top:0;}
.result-list > li .result-item{display:flex;justify-content:space-between;}
.result-list > li .result-item .label{color:#72767a;}
.result-list > li .result-item .result{color:#333;}
.result-list > li .result-item .result.price{font-weight:600;}
.result-list > li .result-item .result em{font-family:"Montserrat";font-weight:inherit;}
.result-list > li .result-item .result .tiny{color:#72767a;font-weight:500;}
.result-list > li .result-item .result.red{color:#FC4852;}
.result-list > li.type-2 .result-item .label,
.result-list > li.type-3 .result-item .label{color:#333;}
.result-list > li.type-2 .result-item .result,
.result-list > li.type-3 .result-item .result{color:#4289F0;}
.result-list > li.type-3 .result-item .label{font-size:20px;font-weight:600;}
.result-list > li.type-3 .result-item .result{font-size:16px;font-weight:700;}
.result-list > li.type-3 .result-item .result.price em{font-size:22px;}

.mms-prev-img, .mms-next-img .mms-img{background-color:#f5f5f5;}
.mms-next-img{padding-top:40px;margin-top:40px;border-top:1px solid #ebebeb;display:flex;flex-wrap:wrap;gap:10px;}
.mms-next-img .mms-img{width:calc(50% - 5px);cursor:pointer;}
.mms-prev-img img, .mms-next-img .mms-img img{width:100%;}

/* order */
.order-result .product-list > li{width:100%;border-bottom:1px solid #EBEBEB;padding-bottom:30px;}
.product-list li .order-top{display:flex;justify-content:space-between;align-items:center;margin-bottom:10px;font-weight:500;}
.product-list li .order-top .date{font-size:14px;color:#72767a;}
.product-list li .order-top .code{font-size:12px;color:#bbb;}
.product-list li .order-top .state{font-size:12px;color:#26C48C;}
.inquiry-area{padding:14px 20px;border:1px solid #EBEBEB;border-radius:8px;text-align:center;font-size:14px;font-weight:500;color:#72767a;line-height:1.4;margin-top:20px;}

.mileage-list > li{background-color:#fff;border-radius:8px;margin-top:10px;}
.mileage-list > li:first-child{margin-top:0;}
.mileage-list > li .mile-info-area{padding:20px;}
.mileage-list > li .mile-info-area .mile-top{display:flex;justify-content:space-between;align-items:center;}
.mileage-list > li .mile-info-area .mile-top .label{display:flex;gap:0 10px;font-size:14px;font-weight:500;color:#333;align-items:center;}
.mileage-list > li .mile-info-area .mile-top .label::before{content:'';display:block;width:20px;height:20px;}
.mileage-list > li .mile-info-area .mile-top .price{font-family:"Montserrat";font-size:16px;font-weight:600;}
.mileage-list > li .mile-info-area .mile-top.use .label::before{background:url(../img/common/ic_use.svg) 50% 50% no-repeat;}
.mileage-list > li .mile-info-area .mile-top.use .price{color:#bbb;}
.mileage-list > li .mile-info-area .mile-top.exchange .label::before{background:url(../img/common/ic_exchange.svg) 50% 50% no-repeat;}
.mileage-list > li .mile-info-area .mile-top.exchange .price{color:#26C48C;}
.mileage-list > li .mile-info-area .mile-info{margin-top:10px;}
.mileage-list > li .mile-info-area .mile-info .date{font-family:"Montserrat";font-size:12px;font-weight:600;color:#bbb;}
.mileage-list > li .mile-info-area .mile-info .result-list{margin-top:20px;display:none;}
.mileage-list > li.on .mile-info-area .mile-info .result-list{display:block;}
.mileage-list > li .mile-info-area .mile-info .s-info{display:block;padding:8px 16px;border:1px solid #ebebeb;border-radius:8px;font-size:14px;font-weight:500;line-height:1.4;color:#333;margin-top:6px;}
.mileage-list > li .mile-btn-area{text-align:center;border-top:1px solid #EBEBEB;}
.mileage-list > li .mile-btn-area a{display:block;padding:10px;text-align:center;}
.mileage-list > li .mile-btn-area a span{display:flex;align-items:center;gap:0 4px;justify-content:center;}
.mileage-list > li .mile-btn-area a span::after{content:'';display:block;width:22px;height:22px;background:url(../img/common/ic_arrow_gray.svg) 50% 50% no-repeat;transition:transform 0.2s;}
.mileage-list > li.on .mile-btn-area a span::after{transform:rotate(180deg);}

/* qna */
.top-info-area{padding:16px;border-bottom:1px solid #ebebeb;}
.top-info-area .info{display:flex;align-items:center;font-size:12px;font-weight:500;color:#72767a;line-height:1.6;gap:0 8px;}
.top-info-area .info::before{content:'';display:block;width:15px;height:14px;background:url(../img/common/ic_warning_gray.svg) 50% 50% no-repeat;}
.qna-list-area{padding:20px 16px;}
.qna-list > li{border-bottom:1px solid #ebebeb;padding:20px 0;}
.qna-list > li:first-child{padding-top:0;}
.qna-list > li .top-area{display:flex;justify-content:space-between;align-items:center;}
.qna-list > li .top-area .date{font-size:12px;font-weight:500;color:#bbb;line-height:1.6;}
.qna-list > li .top-area .state{display:inline-block;padding:6px 8px;border-radius:15px;font-size:12px;font-weight:600;}
.qna-list > li .top-area .state.type-1{color:#26c48c;background: rgba(181, 250, 220, 0.50);}
.qna-list > li .top-area .state.type-2{color:#ffffff;background: #26C48C;}
.qna-list > li .con-area{margin-top:10px;}
.qna-list > li .con-area .tit{font-size:16px;font-weight:500;line-height:1.4;position: relative;padding-right:32px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;cursor:pointer;}
.qna-list > li .con-area .tit::after{content:'';display:block;width:22px;height:22px;background:url(../img/common/ic_more_arrow.svg) 50% 50% no-repeat;position: absolute;right:0;top:0;transition:transform 0.2s;}
.qna-list > li .con-area .list{display:none;margin-top:20px;}
.qna-list > li .con-area .list li{padding:20px;font-size:14px;font-weight:500;line-height:1.4;border-radius:8px;margin-top:10px;}
.qna-list > li .con-area .list li:first-child{margin-top:0;}
.qna-list > li .con-area .list li.user{color:#333;background-color: #f5f5f5;}
.qna-list > li .con-area .list li.admin{background-color:#F2F9FF;}
.qna-list > li .con-area .list li.admin .label{display:inline-block;padding:4px 6px;border:1px solid #D0E8FF;border-radius:4px;background-color:#fff;font-size:12px;font-weight:600;color:#4289f0;line-height:1;margin-bottom:10px;}
.qna-list > li.on .con-area .tit::after{transform:rotate(180deg);}
.qna-list > li.on .con-area .list{display:block;}

/* cscenter */
.cscenter-area .cs-top{display:flex;justify-content:space-between;align-items:center;padding:13px 0;}
.cscenter-area .cs-top .label{font-size:16px;font-weight:600;color:#000;display:flex;align-items:center;gap:0 10px;}
.cscenter-area .cs-top .label::before{content:'';width:20px;height:20px;background:url(../img/common/ic_notice.png) 50% 50% no-repeat;}
.cscenter-area .cs-top .btn-more{font-size:12px;font-weight:500;color:#72767a;}
.cscenter-area .cs-list{border-top:1px solid #72767A;}
.cscenter-area .cs-list > li{border-bottom:1px solid #EBEBEB;}
.cscenter-area .cs-list > li > a{display:flex;gap:0 10px;padding:20px 0;align-items:center;}
.cscenter-area .cs-list > li > a span{display:block;}
.cscenter-area .cs-list > li > a .label{font-size:12px;font-weight:600;color:#26c48c;padding:6px 12px;border-radius:20px;background:rgba(181, 250, 220, 0.50);flex-shrink:0;}
.cscenter-area .cs-list > li > a .tit{font-size:16px;font-weight:500;line-height:1.4;color:#333;flex-grow:1;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

/* send */
.top-menual{padding:20px;border-radius:8px;background-color:#f5f5f5;margin-bottom:20px;}
.top-menual .tit{font-size:20px;font-weight:600;color:#4289f0;}
.top-menual .con, .top-menual .inquiry{font-size:14px;line-height:1.4;margin-top:10px;font-weight:500;}
.top-menual .con{color:#72767A;}
.top-menual .con strong{color:#4289f0;font-weight:500;}

/* event */
.event-list > li{border:1px solid #EBEBEB;border-radius:8px;overflow:hidden;margin-top:20px;}
.event-list > li:first-child{margin-top:0;}
.event-list > li a{display:block;}
.event-list > li dt{position: relative;padding:0 0 43.99% 0;background:#F5F5F5 url(../img/common/ic_thumb.svg) 50% 50% no-repeat;background-size:cover;overflow:hidden;}
.event-list > li dt.no-data{background-size:auto;}
.event-list > li dt img{position:absolute;left:0;top:0;width:100%;}
.event-list > li dt .end{position: absolute;left:0;top:0;width:100%;height:100%;display:flex;justify-content:center;align-items:center;background-color:rgba(51, 51, 51, 0.8);font-size:16px;font-weight:500;color:#fff;}
.event-list > li dd{padding:12px 15px;}
.event-list > li dd span{display:block;}
.event-list > li dd .tit{font-size:16px;font-weight:500;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.event-list > li dd .date{font-size:12px;font-weight:500;color:#bbb;line-height:1.6;margin-top:5px;}
.event-detail{}
.event-detail > dt{padding:12px 0 22px;border-bottom:1px solid #EBEBEB;}
.event-detail > dt span{display:block;}
.event-detail > dt .tit{font-size:20px;font-weight:600;line-height:1.2;}
.event-detail > dt .date{font-size:12px;font-weight:500;line-height:1.6;color:#bbb;margin-top:5px;}
.event-detail > dd{padding-top:24px;}

/* slot */
.slot-machine-area {
  position: relative;
  padding: 87px 0 0;
  overflow: hidden;
}
.slot-machine {
  padding: 40px;
  border-radius: 20px;
  background: url('/img/promotion/bg_slot.png') 50% 50% no-repeat;
  background-size: auto 100%;
  height: 222px;
  position: relative;
}

.slot-machine-area .particle {
  position: absolute;
  left: 50%;
  top: -5px;
  margin-left: -187.5px;
  width: 375px;
  display: inline-block;
}

.slot-window {
  width: 140px;
  height: 140px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 16px;
  position: relative;
}

.slot-track {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 2s cubic-bezier(0.33, 1, 0.68, 1);
}

.slot-track li {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slot-track img {
  max-height: 860%;
  max-width: 80%;
}

/* splash */
.splash_area{position:fixed;left:0;top:0;width:100%;height:100%;display:flex;align-items: center;justify-content: center;background-color: #fff;}
.splash_text{text-align:center;}
.splash_text .tit{font-size:30px;font-weight:700;color:#26c48c;line-height:37px;font-family:'Montserrat'}
.splash_text .con{font-size:16px;font-weight:500;color:#72767a;margin-top:10px;line-height:22px;}
.splash_area.ver_green{background-color: #26C48C;}
.splash_area.ver_green .tit, .splash_area.ver_green .con{color:#ffffff;}

/* promotion */
.promo-detail-area{padding:100px 40px 74px;text-align:center;max-width:750px;margin:0 auto;background: linear-gradient(180deg, #26C48C 0%, var(--key_opa, #B5FADC) 100%);}
.promo-top .label{display:inline-block;padding:6px 30px;background-color: #fff;font-weight:700;color:#26c48c;border-radius:160px;line-height:1.4;white-space: nowrap;}
.promo-top .title{margin-top:22px;}
.promo-top .title span{display:block;}
.promo-top .title .en{font-weight:800;font-family:'Montserrat';color:#fff;line-height:1.4;}
.promo-top .title .kr{font-weight:800;color:#333;}
.promo-top .desc{margin-top:20px;font-weight:700;line-height:1.4;}

.promo-visual{position: relative;margin-top:74px;}
.promo-visual img{width:100%;}
.promo-visual .visual{position: relative;z-index:1;}
.promo-visual .particle{position:absolute;left:0;top:-42px;}
.promo-list > li{background-color:#fff;margin-top:20px;padding:0 40px;border-radius:16px;}
.promo-list > li:first-child{margin-top:0;}
.promo-list > li dl{display:flex;justify-content:space-between;align-items: center;}
.promo-list > li dl dd{font-weight:700;line-height:1.4;text-align:left;}
.promo-list > li dl dt{}

.promo-sub-area{position: relative;margin-top:80px;padding:70px 0 115px;text-align:center;}
.promo-sub-tit{line-height:1.4;position: absolute;left:0;top:0;width:100%;}
.promo-sub-text{position: absolute;left:0;bottom:0;width:100%;}
.promo-sub-text strong, .promo-sub-text span{display:block;font-weight:800;}
.promo-sub-text strong{color:#26C48C;}
.promo-sub-text span{background-color:#26C48C;color:#fff;display:inline-block;padding:10px;margin-top:20px;white-space: nowrap;}
.promo-sub-con{margin-top:46px;line-height:1.4;}

.promo-ad-area{position: relative;max-width:750px;margin:0 auto;}
.promo-ad-area.ver_white{}
.promo-ad-area .promo-ad-content{border-radius:40px 40px 0 0;position: relative;}
.promo-ad-area::before{content:'';display:block;width:100%;height:40px;position: absolute;left:0;top:0;width:100%;}
.promo-ad-area.ver_white::before{background-color: #B5FADC;}
.promo-ad-area.ver_green::before{background-color: #fff;}
.promo-ad-area.ver_black::before{background-color: #26C48C;}
.promo-ad-area.ver_white .promo-ad-content{background-color: #fff;padding:60px 30px 100px;}
.promo-ad-area.ver_green .promo-ad-content{background-color: #26C48C;padding:60px 30px 0;}
.promo-ad-area.ver_black .promo-ad-content{background-color: #333;padding:112px 38px 100px;}

.gift-info-area .gift-item-area .label{position: absolute;background-color: #333;border-radius:60px;padding:0 20px;color:#fff;line-height:1.4;display:inline-block;font-weight:700;left:50%;transform:translateX(-50%);white-space: nowrap;top:-22px;}
.gift-info-area .gift-item-area{border:1px solid #ebebeb;border-radius:16px;position: relative;}
.gift-info-area .gift-item-area .gift-item{display:flex;align-items: center;padding:42px 0 32px;border-bottom:1px solid #ebebeb;}
.gift-info-area .gift-item-area .gift-item .bridge{flex-shrink: 0;font-weight:600;color:#d9d9d9;}
.gift-info-area .gift-item-area .gift-item dl{flex-grow:1;text-align:center;}
.gift-info-area .gift-item-area .gift-item dl dd{font-weight:600;color:#333;margin-top:18px;}
.gift-info-area .gift-item-area .gift-tip{padding:40px 0;line-height:1.4;color:#72767a;text-align:Center;}
.gift-info-area .gift-tail{text-align:center;margin-top:60px;}
.gift-info-area .gift-tail .tit{font-weight:700;color:#333;position: relative;display:inline-block;}
.gift-info-area .gift-tail .tit span{position: relative;}
.gift-info-area .gift-tail .tit::before{content:'';display:inline-block;background-color: #b5fadc;height:28px;width:100%;position: absolute;left:0;bottom:-10px;}
.gift-info-area .gift-tail .con{margin-top:40px;line-height:1.4;}

.winner-secret-area{position: relative;}
.winner-secret-area .winner-text{text-align:center;color:#fff;font-weight:300;line-height:1.1;}
.winner-secret-area .winner-text strong{font-weight:700;}
.winner-secret-area .winner-list-area{position: relative;height:374px;}
.winner-secret-area .winner-list{margin-top:38px;}
.winner-secret-area .winner-list > li{padding:24px 20px;display:flex;justify-content:space-between;background: rgba(255, 255, 255, 0.30);border-radius:16px;align-items: center;margin-top:10px;}
.winner-secret-area .winner-list > li:first-child{margin-top:0;}
.winner-secret-area .winner-list > li .nickname{background-color:#333;color:#fff;padding:6px 20px;border-radius:80px;line-height:1.6;}
.winner-secret-area .winner-list > li .right-area{display:flex;gap: 0 29px;}
.winner-secret-area .winner-list > li .gift{font-weight:500;}
.winner-secret-area .winner-list > li .date{font-weight:500;color:#fff;}
.winner-secret-area .winner-dimm{position: absolute;left:0;bottom:0;width:100%;background: linear-gradient(180deg, rgba(38, 196, 140, 0.00) 42.91%, var(--Key, #26C48C) 100%);height:100%;}

.slot-ad-area{position: relative;}
.slot-ad-area .tit{color:#fff;font-weight:300;line-height:1.2;text-align:center;position: absolute;top:-52px;left:0;width:100%;}
.slot-ad-area .tit strong{font-weight:700;}
.promo-ad-area.ver_black .promo-ad-content .btn-base{margin-top:10px;}
.promo-ad-area.ver_black .promo-ad-content .btn-base > *{border-radius:50px;}

/* 결제 바코드 팝업 - 마일리지 */
.mileage-info-area .mileage-total{display:flex;justify-content: space-between;}
.mileage-info-area .mileage-total dd{font-size:16px;font-weight:500;line-height:1.4;color:#72767a;}
.mileage-info-area .mileage-total dt{font-size:22px;line-height:1.4;font-weight:600;color:#333;}
.mileage-info-area .mileage-total dt strong{font-size:30px;font-weight:700;}
.mileage-info-area .mileage-item{display:flex;gap:20px 10px;flex-wrap:wrap;margin-top:20px;}
.mileage-info-area .mileage-item > li{border-radius: 8px;border: 1px solid #EBEBEB;background: #FFF;box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.04);width:calc(33.333% - 7px);text-align:center;position: relative;}
.mileage-info-area .mileage-item > li .product-area{padding:25px 0 15px;}
.mileage-info-area .mileage-item > li .product-area dt{width:50px;margin:0 auto;border-radius:8px;border:1px solid #ebebeb;}
.mileage-info-area .mileage-item > li .product-area dd{font-size:14px;font-weight:500;line-height:1.4;color:#333;margin-top:10px;}
.mileage-info-area .mileage-item > li .barcode-area{padding:5px 0;background-color: #F2F9FF;}
.mileage-info-area .mileage-item > li .barcode-area .btn-barcode{width:24px;height:24px;display:inline-block;background:url('../img/common/ic_barcode.svg') 50% 50% no-repeat;}
.mileage-info-area .mileage-item > li .btn-like{position: absolute;right:10px;top:10px;}
.mileage-info-area > .btn-base {margin-top:20px;}
.mileage-info-area > .btn-base.tp1.reverse > *{border-color:#D0E8FF;padding:12px;font-size:12px;font-weight:500;}

/* 바코드 */
.pay-barcode-area .tit{font-size:22px;line-height:1.4;color:#333;}
.pay-barcode-area .tit dt{font-weight:600;}
.pay-barcode-area .pay-barcode{border:1px solid #ebebeb;margin-top:30px;border-radius:8px;padding:30px;position: relative;}
.pay-barcode-area .pay-barcode .item{text-align:center;}
.pay-barcode-area .pay-barcode .item dt{width:70px;height:70px;border-radius:8px;border:1px solid #ebebeb;overflow:hidden;margin: 0 auto;}
.pay-barcode-area .pay-barcode .item dd{margin-top:15px;font-size:20px;font-weight:600;color:#4289f0;}
.pay-barcode-area .barcode-item{margin:20px auto 0;width:251px;}
.pay-barcode-area .pay-item{margin:20px auto 0;}
.pay-barcode-area .pay-item .tip{font-size:12px;font-weight:500;line-height:1.6;color:#72767a;display:block;margin-top:10px;text-align:center;}
.pay-barcode-area .pay-barcode .time-area{margin-top:15px;display:flex;justify-content: space-between;align-items: center;}
.pay-barcode-area .pay-barcode .time-area .time{display:flex;gap:0 6px;padding:4px 8px;border-radius:100px;background: rgba(219, 30, 41, 0.05);font-size:12px;font-weight:500;color:#fc4852;align-items: center;}
.pay-barcode-area .pay-barcode .time-area .time::before{content:'';display:block;width:16px;height:16px;background:url('../img/common/ic_clock.svg') 50% 50% no-repeat;}
.pay-barcode-area .pay-barcode .time-area .number{font-size:14px;color:#333;font-weight:500;line-height:1.4;}
.pay-barcode-area .pay-barcode .btn-like{position: absolute;right:20px;top:20px;width:17px;background-size:auto 100%;}
.pay-barcode-area .pay-mileage{margin-top:30px;text-align:center;}
.pay-barcode-area .pay-mileage .mileage-item{display:flex;justify-content: space-between;align-items: center;padding: 20px;background-color: #F2F9FF;border-radius: 8px;}
.pay-barcode-area .pay-mileage .mileage-item .label{font-size:14px;color:#333;line-height:1.4;}
.pay-barcode-area .pay-mileage .mileage-item .money{font-size:14px;color:#4289f0;line-height:1.4;font-weight:600;}
.pay-barcode-area .pay-mileage .mileage-item .money strong{font-weight:600;font-family:'Montserrat';}
.pay-barcode-area .pay-mileage .mileage-item + .btn-link{margin-top:20px;}
.pay-barcode-area .pay-warning{margin-top:60px;}
.pay-barcode-area .pay-warning .tit{font-size:16px;font-weight:700;color:#333;}
.pay-barcode-area .pay-warning .warning{margin-top:10px;}
.pay-barcode-area .pay-warning .warning > li{text-indent:-8px;padding-left:8px;font-size:12px;line-height:1.6;font-weight:500;color:#72767a;}

/* 결제 가능 전체 브랜드 */
.pay_brand_list > li{margin-top:40px;}
.pay_brand_list > li:first-child{margin-top:0;}
.pay_brand_list > li .tit{font-size:20px;color:#333;font-weight:600;}

.top-modal-wrap{min-height:calc(100vh - 50px);}
.top-modal-wrap .top-btn-area{display:flex;justify-content: flex-end;margin-bottom:10px;}
.top-modal-wrap .top-btn-area .btn-close{display:block;width:28px;height:28px;background:url('../img/common/ic_close.svg') 50% 50% no-repeat;}
.top-modal-wrap .cate-tit{font-size:16px;font-weight:600;color:#333;margin-bottom:20px;}
.top-modal-wrap .brand-list-area > li{margin-top:40px;}
.top-modal-wrap .brand-list{display:flex;flex-wrap:wrap;gap:17px 15px;}
.top-modal-wrap .brand-list > li{width:calc(33.333% - 10px);}
.top-modal-wrap .brand-list > li dl{display:block;}
.top-modal-wrap .brand-list > li dl dt{width:100%;padding:0 0 99% 0;border:1px solid #ebebeb;border-radius:8px;display:inline-block;overflow:hidden;flex-shrink:0;position:relative;background:#F5F5F5 url(../img/common/ic_thumb.svg) 50% 50% no-repeat;}
.top-modal-wrap .brand-list > li dl dd{margin-top:10px;font-size:14px;font-weight:500;color:#333;text-align:center;}

/* 상품정보 */
.product-detail-area{padding:10px 16px;}
.product-detail-area .product-thumb-area{max-width:343px;margin: 0 auto;}
.product-detail-area .product-thumb{padding:19%;background: url('../img/detail/slot_frame_lg.svg') 50% 50% no-repeat;background-size: cover;border: 0;position: relative;}
.product-detail-area .product-thumb .product-frame{background:#F5F5F5 url(../img/common/ic_thumb_lg.svg) 50% 50% no-repeat;border-radius:11.5%;aspect-ratio: 99/100;position: relative;overflow:hidden;}
.product-detail-area .product-thumb .side_item {position: absolute;width: 92px;height: 92px;right: 8%;top: 8%;border-radius: 46px;border: 1px solid #26C48C;background: #FFF;padding: 10px;}
.product-detail-area .product-thumb .side_item::before{content:'';display:inline-block;width:57px;height:57px;background:url('../img/common/ic_ribbon_lg.svg') 50% 50% no-repeat;position: absolute;left: 50%;top:-27px;margin-left:-28.5px;}
.product-detail-area .product-thumb .side_item img{position: static;border-radius:50%;}

.gift-detail .gift-inner .discount-area{display:flex;gap:0 4px;}
.gift-detail .gift-inner .discount-area .label{font-size:12px;font-weight:500;line-height:1.6;color:#fc4852;display:flex;gap:0 2px;align-items: center;}
.gift-detail .gift-inner .discount-area .label::before{content:'';display:block;width:14px;height:14px;background:url('../img/common/ic_check_fill.svg') 50% 50% no-repeat;}
.gift-tab-area .panel-base > li .other-area{margin-top:30px;}
.gift-tab-area .panel-base > li .other-area .tit{font-size:16px;font-weight:600;color:#333;line-height:19px; }
.gift-tab-area .panel-base > li .other-area .tit + .other-list{margin-top:20px;}
.gift-tab-area .panel-base > li .other-area .other-list{display:flex;gap:16px;width:100%;flex-wrap:wrap;}
.gift-tab-area .panel-base > li .other-area .other-list > li{border:1px solid #ebebeb;background-color: #fff;border-radius: 8px;width:calc(50% - 8px);aspect-ratio:1 / 1;overflow: hidden;padding: 4%;}
.gift-tab-area .panel-base > li .other-area .other-list > li img{width: 100%;height: 100%;object-fit: cover;display: block;}

/* 선물하기 */
.product-list > li dl dd .discount-area{display:flex;gap:0 4px;align-items: center;}
.product-list > li dl dd .discount-area .label{font-size:12px;font-weight:500;line-height:1.6;color:#fc4852;display:flex;gap:0 2px;align-items: center;}
.product-list > li dl dd .discount-area .label::before{content:'';display:block;width:14px;height:14px;background:url('../img/common/ic_check_fill.svg') 50% 50% no-repeat;}
.product-list.ver_new > li dl{gap:0 20px;}
.product-list.ver_new > li dl dt{width:80px;height:80px;}
.product-list.ver_new .product-info .name:not(.line-1){line-height:22px;max-height:44px;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;overflow: hidden;white-space:initial;}

/* 실시간 당첨 */
.winning-list > li{padding:0 10px 16px;border:1px solid #EBEBEB;border-radius:8px;margin-top:15px;}
.winning-list > li:first-child{margin-top:0;}
.winning-list > li .top-area{display:flex;justify-content: space-between;padding:10px 5px;border-bottom: 1px solid #EBEBEB;}
.winning-list > li .top-area .user{font-size:14px;font-weight:500;color:#333;line-height:20px;}
.winning-list > li .top-area .label{display:inline-block;padding:4px 6px;font-size:12px;font-weight:600;color:#fc4852;background: rgba(252, 72, 82, 0.15);border-radius:4px;}

@media screen and (max-width: 1080px) {
  .top-visual{width:100%;height:auto;left:0;margin-left:0;}
  .search-result .product-list > li{width:calc(33.33% - 14px);}
  .brand-top{padding:25px 20px;}
}

@media screen and (max-width: 950px) {
  #header #gnb{display:none;}
  .product-list > li{width:calc(50% - 9px);}
}

@media screen and (max-width: 750px) {
  #wrapper .swiper-pagination-bullet{width:6px;height:6px;margin:0 2.5px;}
  .top-visual .swiper-container{padding-bottom:21px;}
  .top-visual .swiper-container-horizontal > .swiper-pagination-bullets{bottom:0;}
  .product-box{padding:20px;}
  .product-list{margin-top:20px;}
  .product-list > li{width:100%;}
  .product-swiper.swiper-container{overflow:inherit;}
  .product-swiper.swiper-container .swiper-slide{width:41.07vw;margin-right:10px;border-radius:5px;overflow:hidden;}
  .product-swiper.swiper-container .swiper-slide:last-child{margin-right:0;}
  .main-banner-area, .main-product-area, .main-promo-area, .main-slide-area{margin-top:40px;}
  .main-recently-area{height:auto !important;}
  .main-recently.product-box{position: static;}
  .main-recently.product-box .product-list > li:nth-child(n+3){display:none;}
  .main-banner-area > a{padding:15px;display:block;}
  .main-banner-area > a .con-area .label{font-size:16px;}
  .main-banner-area > a .con-area .con{font-size:12px;}
  .main-banner-area > a .bg{display:block;margin-top:8px;text-align:right;}
  .main-banner-area > a .bg img{width:30px;}
  .main-promo-area .product-bg{border-radius:8px 8px 0 0;}
  .main-promo-area .product-box{border-radius:0 0 8px 8px;}
  .main-promo-area .product-box .tit{display:none;}
  .main-promo-area .product-list{margin-top:0;}
  .main-promo-area .product-box .product-list > li:nth-child(n+3){display:none;}
  .main-slide-area{width:calc(100% + 32px);border-radius:0;position: relative;left:-16px;}

  .search-result .product-list{gap:30px 12px;margin-top:0;}
  .search-result .product-list > li{width:calc(50% - 6px);}

  .search-paging{bottom:30px;transition:bottom 0.2s;}
  .search-paging.on{bottom:80px;}

  .no-data{padding:54px 0;}
  .no-data.type_2{padding:80px 0;}
  .no-data p{font-size:16px;}
  .no-data p::before{width:36px;height:36px;background-size:cover;margin-bottom:20px;}

  /* mypage */
  .menu-list > li.mypage-1 > a > span::before{background-image:url(../img/mypage/ic_mypage_m1.svg);}
  .menu-list > li.mypage-2 > a > span::before{background-image:url(../img/mypage/ic_mypage_m2.svg);}
  .menu-list > li.mypage-3 > a > span::before{background-image:url(../img/mypage/ic_mypage_m3.svg);}
  .menu-list > li.mypage-4 > a > span::before{background-image:url(../img/mypage/ic_mypage_m4.svg);}
  .menu-list > li.mypage-5 > a > span::before{background-image:url(../img/mypage/ic_mypage_m5.svg);}
  .menu-list > li.mypage-6 > a > span::before{background-image:url(../img/mypage/ic_mypage_m6.svg);}
  .menu-list > li.mypage-7 > a > span::before{background-image:url(../img/mypage/ic_mypage_m7.png);background-size:cover;}
  .menu-list > li.mypage-8 > a > span::before{background-image:url(../img/mypage/ic_mypage_m8.svg);background-size:cover;}

  .menu-list > li.mypage-1{border-radius:8px 8px 0 0;}
  .menu-list > li.mypage-7{border-radius:0 0 8px 8px;border-bottom:0;}
  .menu-list > li.mypage-4{border-radius:8px 8px 0 0;margin-top:20px;}
  .menu-list > li.mypage-6{border-radius:0 0 8px 8px;border-bottom:0;}

  .right-area .btn-base.logout{margin-top:20px;}
  .brand-top{padding:25px 16px;}

  .order-result .product-list{margin-top:0;}

  /* promotion */ 
  .promo-detail-area{padding:50px 16px 36px;}
  .promo-top .label{padding:0 15px;}
  .promo-top .title{margin-top:14px;}
  .promo-visual{margin-top:50px;}
  .promo-list > li{padding:0 20px;margin-top:10px;}
  .promo-list > li dl dd{font-size:16px;}
  .promo-list > li dl dt{width:86px;}
  .promo-sub-area{margin-top:40px;padding:7% 0 11%;}
  .promo-sub-con{margin-top:22px;}

  .promo-ad-area .promo-ad-content{border-radius:20px 20px 0 0;}
  .promo-ad-area.ver_white .promo-ad-content{padding:43px 16px 48px;}
  .gift-info-area .gift-item-area .label{top:-4.5%;font-size:16px;}
  .gift-info-area .gift-item-area .gift-item{padding:16px 0 7px;}
  .gift-info-area .gift-item-area .gift-tip{padding:20px 0;font-size:13px;}

  .promo-ad-area.ver_green .promo-ad-content{padding:30px 16px 0;}
  .winner-secret-area .winner-list-area{height:187px;}
  .winner-secret-area .winner-list{margin-top:20px;}
  .winner-secret-area .winner-list > li{font-size:12px;padding:12px 20px 12px 10px;border-radius:8px;}
  .winner-secret-area .winner-list > li .nickname{padding:3px 10px;}
  .winner-secret-area .winner-list > li .right-area{gap:0 14px;}

  .promo-ad-area.ver_black .promo-ad-content{padding:56px 26px 180px;}
  .slot-ad-area .tit{top:-26px;font-size:22px;}
  .slot-ad-area .slot-ad{width:313px;margin:0 auto;}
}