@charset "utf-8";

.top-mileage{display:flex;justify-content:space-between;background-color:#F2F9FF;padding:16px 20px;align-items:center;max-width:1000px;margin:0 auto;}

.top-mileage-wrap{display:flex;justify-content:space-between;background-color:#F2F9FF;padding:16px 20px;align-items:center;max-width:1000px;margin:0 auto;flex-direction: column;}
.top-mileage-wrap .top-mileage{padding:0;width:100%;margin-top:12px;}
.top-mileage-wrap .top-mileage:first-child{margin-top:0;}
.top-mileage-wrap .top-mileage .info .btn{padding:8px 15px;min-width:85px;text-align:center;}

.top-mileage-area{padding:26px 20px;background-color: #F2F9FF;display:flex;gap:10px;max-width:1080px;margin:0 auto;}
.top-mileage-area .mileage-box{padding:15px 20px;border-radius: 8px;border: 1px solid #D0E7FF;background: #FFF;width:50%;}
.top-mileage-area .mileage-box .label{font-size:14px;font-weight:500;line-height:1.4;}
.top-mileage-area .mileage-box .price{font-size:16px;font-weight:500;color:#4289f0;margin-top:5px;}
.top-mileage-area .mileage-box .price strong{font-weight:700;}
.top-mileage-area .mileage-box .btn{padding:8px 15px;display:block;border-radius: 8px;background: #4289F0;text-align:center;font-size:12px;font-weight:500;color:#fff;margin-top:15px;}

.result-list > li .result-item .label.gray{color:#72767a;}
.result-list > li .result-item.total .label{color:#333;font-weight:500;}
.result-list > li .result-item .result.black{color:#333;}
.result-list > li .mileage-info{margin:16px 0 10px;text-align:center;}
.result-list > li .mileage-info span{display:block;position: relative;}
.result-list > li .mileage-info span input{position: absolute;display:none;}
.result-list > li .mileage-info span label{font-size:12px;color:#72767a;font-weight:600;display:flex;align-items: center;justify-content: flex-end;gap:0 5px;background-color: #fff;padding:4px 10px;border-radius:4px;}
.result-list > li .mileage-info span label em{font-style:normal;font-weight:inherit;position: relative;top:1px;}
.result-list > li .mileage-info span label::before{content:'';display:block;background:url('/img/gift/ic_checkbox.svg') 50% 50% no-repeat;width:20px;height:20px;}
.result-list > li .mileage-info span input:checked + label{background-color: #4289F0;color:#fff;}
.result-list > li .mileage-info span input:checked + label::before{background:url('/img/gift/ic_checkbox_w.svg') 50% 50% no-repeat;}
.order-form > li .mms-area.ver_green{border-color:#26c48c;}
.order-form > li .mms-area.ver_green .mms-period{background-color: #26c48c;}

.menu-list > li.mypage-n3 > a > span::before{background-image:url(../img/mypage/ic_mypage_new3.svg);}
.menu-list > li.mypage-n4 > a > span::before{background-image:url(../img/mypage/ic_mypage_new4.svg);}

.product-list > li dl dt .label.subscribe{min-width:42px;text-align:center;font-size:12px;font-weight:500;padding:10px 4px;}
.product-list > li dl dt .dday{position: absolute;right:4px;bottom:4px;font-size:12px;color:#fc4852;background-color:rgba(255, 255, 255, 0.7);border-radius:8px;padding:5px 8px;}
.search-result .product-list > li dl dd .sender{display:flex;gap:0 5px;align-items: center;margin-top:10px;}
.search-result .product-list > li dl dd .sender span{font-size:12px;font-weight:500;}
.search-result .product-list > li dl dd .sender .s-label{color:#bbb;}
.search-result .product-list > li dl dd .sender .s-name{color:#26c48c;}

.product-top-area.type-2{border:6px solid #26c48c;gap:0;position: relative;}
.product-top-area.end::after{content:'';display:block;width:100%;height:100%;background-color: #333;opacity:0.8;position: absolute;left:0;top:0;}

.product-top-area.type-2 .product-detail-area{width:395px;}
.product-top-area.type-2 .product-frame{width:100%;}
.product-top-area.type-2 .gift-detail{padding:30px 50px;min-width:0;flex: 1 1 auto;}
.product-top-area.type-2 .gift-detail .gift-thumb-area{display:flex;gap:30px;}
.product-top-area.type-2 .gift-detail .gift-thumb{border:1px solid #ebebeb;border-radius:8px;display:inline-block;overflow:hidden;width:120px;height:120px;flex-shrink:0;position:relative;background:#F5F5F5 url(../img/common/ic_thumb.svg) 50% 50% no-repeat;padding:0 0 118px 0;}
.product-top-area.type-2 .gift-detail .gift-info{min-width:0;display:flex;flex-direction: column;justify-content: center;}
.product-top-area.type-2 .gift-detail .name{margin-top:0;text-overflow: ellipsis;white-space: nowrap;overflow:hidden;display:block;width:100%;}
.product-top-area.type-2 .gift-detail .exchange{font-size:16px;color:#72767a;font-weight:600;margin-top:20px;}
.product-top-area.type-2 .gift-detail .barcode-area{text-align:center;padding:57px 0 0;border-top:1px solid #EBEBEB;margin-top:27px;}
.product-top-area.type-2 .gift-detail .barcode-area span{display:block;}
.product-top-area.type-2 .gift-detail .barcode-area .number{margin-top:15px;font-size:14px;color:#333;}

.gift-detail .name.line-2{display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;overflow: hidden;white-space:initial;}
.content-wrap .con-tit-area{position: relative;border-bottom:1px solid #72767A;margin-bottom:40px;}
.content-wrap .con-tit-area .con-tit{margin-bottom:0;border-bottom:0;}
.content-wrap .con-tit-area .btn-list{display:inline-block;padding:10px;border-radius: 8px;
border: 1px solid #EBEBEB;background: #FFF;min-width:104px;text-align:center;font-size:14px;font-weight:600;color:#333;position: absolute;right:0;top:0;}

.gift-tab-area{padding:10px 0;}
.gift-info-list > li{display:flex;justify-content: space-between;padding:20px 0;border-bottom:1px solid #EBEBEB;}
.gift-info-list > li .label{font-size:14px;font-weight:500;color:#72767a;}
.gift-info-list > li .result{font-size:16px;font-weight:500;color:#333;}
.gift-info-list > li.message{display:block;}
.gift-info-list > li.message .message-area{border-radius:8px;padding:20px;background-color: #f5f5f5;margin-top:10px;font-size:14px;font-weight:500;line-height:1.4;color:#333;}
.qna-list.ver_gift > li .con-area{margin-top:0;}

.evt-area .evt-top-area{background: #DAFCED url('/img/detail/evt_particle.png') 50% 10px no-repeat;padding:40px 0;text-align:center;}
.evt-area .evt-top-area .evt-title{padding:10px 0;}
.evt-area .evt-top-area .evt-info{display:inline-block;padding:5px 15px;border-radius: 30px;background-color:#fff;font-size:14px;font-weight:500;line-height:1.3;color:#72767a;margin-top:16px;}

.evt-area .evt-con-area{padding:40px 16px;}
.evt-area .evt-con-area .evt-label{font-size:20px;font-weight:600;color:#333;}
.evt-area .evt-con-area .app-btn{display:flex;gap:0 10px;margin-top:20px;}
.evt-area .evt-con-area .app-btn li{width:50%;}
.evt-area .evt-con-area .app-btn li img{width:100%;}
.evt-area .evt-con-area .app-detail-info{margin-top:45px;}
.evt-area .evt-con-area .app-detail-info > li{display:flex;gap:0 20px;align-items: center;padding:25px 22px;border-radius: 8px;background: #F5F5F5;margin-top:10px;}
.evt-area .evt-con-area .app-detail-info > li:first-child{margin-top:0;}
.evt-area .evt-con-area .app-detail-info > li .num{display:inline-block;font-size:12px;font-weight:600;padding:5px 10px;border-radius: 40px;
background: var(--Key, #26C48C);color:#fff;}
.evt-area .evt-con-area .app-detail-info > li .con{font-size:14px;font-weight:500;line-height:1.4;color:#333;}
.evt-area .evt-con-area .app-detail-info > li .con.app{color:#72767a;}
.evt-area .evt-con-area .app-detail-info > li .con.app strong{color:#333;font-weight:600;}

.evt-complete-area{text-align:center;padding:60px 20px;}
.evt-complete-area .msg{font-size:16px;font-weight:500;color:#333;display:flex;gap:0 5px;justify-content: center;align-items: center;}
.evt-complete-area .msg::before{content:'';display:block;width:24px;height:24px;background:url('/img/event/ic_event_check.svg') 50% 50% no-repeat;}
.evt-complete-area .evt-gallery{border:1px solid #ebebeb;border-radius:8px;display:inline-block;overflow:hidden;width:166px;flex-shrink:0;position:relative;background-color:#F5F5F5;background-image:url(../img/common/ic_thumb.svg);background-position:50% 50%;background-repeat:no-repeat;padding:0 0 164px 0;margin-top:45px;}
.evt-complete-area .evt-detail{padding:20px;background-color: #F2F9FF;border-radius:3px;margin-top:40px;text-align:left;}
.evt-complete-area .evt-detail li{margin-top:7px;display:flex;gap:0 10px;line-height:1.4;}
.evt-complete-area .evt-detail li:first-child{margin-top:0;}
.evt-complete-area .evt-detail li .label{min-width:100px;}
.evt-complete-area .evt-detail li .result{font-size:14px;font-weight:500;color:#333;}
.evt-complete-area .evt-info{margin-top:10px;border-radius: 8px;background: #F5F5F5;padding:20px;}

.btn-more-area{text-align:center;margin-top:40px;}
.btn-more-area .btn-base{max-width:150px;}
.btn-more-area .btn-base a{font-size:14px;font-weight:500;line-height:1.4;display:block;padding:12px 20px;border-radius: 50px;border: 1px solid #EBEBEB;background: #FFF;box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.04);color:#72767a;}

#container.ver_full{min-height:calc(100vh - 80px);}
.evt-full-area{margin:0 auto;max-width:720px;background-color: #fff;}
.evt-full-content{padding:85px 32px 93px;}
.evt-full-content .evt-con-list{}
.evt-full-content .evt-con-list > li{text-align:center;margin-top:100px;}
.evt-full-content .evt-con-list > li:first-child{margin-top:0;}
.evt-full-content .evt-con-list > li .num{display:inline-block;font-size:clamp(20px,4.5vmin,40px);padding:11px clamp(16px,3.0vmin,25px);border-radius: 40px;background: #26C48C;font-weight:600;letter-spacing:-1.2px;color:#fff;}
.evt-full-content .evt-con-list > li .txt{font-size:clamp(20px,4.5vmin,40px);font-weight:600;color:#333;margin-top:20px;}
.evt-full-content .evt-con-list > li .img{margin-top:clamp(20px,4.5vmin,40px);}
.evt-full-content .evt-con-list > li .btns{margin-top:clamp(20px,4.5vmin,40px);}
.evt-full-content .evt-con-list > li .btns > a{margin-top:10px;display:block;}
.evt-full-content .evt-con-list > li .btns > a:first-child{margin-top:0;}
.evt-full-content #evtJoin{margin-top:clamp(22px,6.5vmin,60px);}
.evt-full-content #evtJoin > a{font-size:clamp(20px,4.5vmin,40px);padding:clamp(12px,3.3vmin,28px);}

.evt-full-content .evt-warning{border-radius: 10px;background: #F5F5F5;padding:clamp(22px,6.0vmin,55px) clamp(17px,3.5vmin,30px);margin-top:95px;}
.evt-full-content .evt-warning .tit{font-size:clamp(17px,3.5vmin,30px);color:#000;font-weight:600;}
.evt-full-content .evt-warning li{font-size:clamp(16px,3.1vmin,26px);position: relative;padding-left:clamp(17px,3.3vmin,28px);position: relative;color:#555;font-weight:500;margin-top:clamp(17px,3.5vmin,30px);line-height:1.2;}
.evt-full-content .evt-warning li::before{content:'';display:block;width:5px;height:5px;background-color: #555;border-radius:50%;position: absolute;left:7px;top:13px;}

.refund-valid-info.ver-import .tit{flex-wrap:wrap;word-break: break-all;}
.refund-valid-info.ver-import .tit .import{color:red;}
.refund-valid-info.ver-import .tit *{flex-shrink: 0;}

@media screen and (max-width: 1024px) {
  .product-top-area.type-2 .product-detail-area{width:300px;}
  .product-top-area.type-2 .gift-detail{padding:20px 40px;}
  .product-top-area.type-2 .gift-detail .gift-thumb-area{gap:20px;}
  .product-top-area.type-2 .gift-detail .gift-thumb{width:90px;height:90px;padding-bottom:88px;}
  .product-top-area.type-2 .gift-detail .name{font-size:24px;}
  .product-top-area.type-2 .gift-detail .exchange{font-size:14px;margin-top:10px;}
  .product-top-area.type-2 .gift-detail .barcode-area{padding-top:30px;margin-top:20px;}
}

@media screen and (max-width: 750px) {
  .menu-list > li.mypage-n3 > a > span::before{background-image:url(../img/mypage/ic_mypage_new_03.svg);}
  .menu-list > li.mypage-n4 > a > span::before{background-image:url(../img/mypage/ic_mypage_new_04.svg);background-size:cover;}
  
  .content-wrap.ver_event{padding:0;}
  .btn-more-area{margin-top:26px;}
  .btn-more-area .btn-base{max-width:initial;}

  .product-top-area.type-2 .product-detail-area{width:100%;padding:0;}
  .product-top-area.type-2 .product-detail-area img{width:100%;}
  .product-top-area.type-2 .gift-detail .gift-thumb{width:60px;height:60px;padding-bottom:58px;}
  .product-top-area.type-2 .gift-detail .name{font-size:16px;}
  .product-top-area.type-2 .gift-detail .exchange{font-size:14px;margin-top:2px;}
  .product-top-area.type-2 .gift-detail .barcode-area{padding:20px 0;margin-top:16px;}

  #wrapper.ver_full{padding-bottom:0;}
  #container.ver_full{min-height:calc(100vh);}
  .evt-full-content{padding:8.5% 20px 120px;}
  .evt-full-content .evt-con-list > li .btns{width:53.8%;margin:clamp(20px,4.5vmin,40px) auto 0;}
  .evt-full-content .evt-con-list > li{margin-top:10%;}
  .evt-full-content .evt-warning li::before{top:10px;width:3px;height:3px;}
  .evt-full-content .evt-warning{margin-top:9.5%;}
}

@media screen and (max-width: 576px) {
  .evt-full-content .evt-con-list > li .txt{font-size:16px;line-height:1.2;}
  .evt-full-content .evt-warning .tit{font-size:16px;}
  .evt-full-content .evt-warning li{font-size:14px;margin-top:10px;}
  .evt-full-content .evt-warning li::before{top:7px;} 
  .evt-full-content .evt-con-list > li .num{font-size:14px;padding:5px 10px;}
  .evt-full-content #evtJoin > a{font-size:14px;}
}