@charset "utf-8";

body{width:100%;background-color:#fff;overflow-x:hidden;}
body.bg{background-color:#F2F9FF;}
body.bg_green{background-color:#B5FADC;}
body.bg_green .con-tit{border-color:#D7FFF1;}

#wrapper{margin:0 auto;min-height:100vh;/*max-width:1080px;*/position:relative;}
/* #wrapper::before, #wrapper::after{content:'';display:block;width:100%;height:100%;position:absolute;top:0;z-index:9999;}
#wrapper::before{left:-100%;}
#wrapper::after{right:-100%;} */

#header .h-inner, #footer .f-inner, .content-wrap{margin:0 auto;max-width:1080px;position:relative;}
#header .h-inner, #footer .f-inner{padding:0 40px;}
.content-wrap{padding:40px 40px 100px;min-height:calc(100vh - 224px);}
.content-wrap.main{padding-top:0;z-index:1;}
.content-wrap.api{padding:0;}

#wrapper.ver_submain{background-color:#F2F9FF;}

#header{position:relative;background-color:#fff;width:100%;z-index:4;}
#header .h-inner{height:80px;display:flex;align-items:center;justify-content:space-between;}
#header .h-left{display:flex;gap:0 50px;}
#header h1{font-size:20px;font-weight:700;font-family:'Montserrat';}
#header h1 a{color:#26c48c;}
#header #gnb{display:flex;align-items:center;gap:0 20px;}
#header #gnb li a{font-size:16px;font-weight:500;}
#header .h-right{display:flex;gap:0 20px;align-items:center;}
#header .btn-join{font-size:14px;font-weight:500;color:#72767A;}
#header .btn-mypage{font-size:0;width:40px;height:40px;background:url(../img/common/ic_mypage.png) 50% 50% no-repeat;}
#header .btn-alarm{font-size:0;width:28px;height:28px;background:url(../img/common/teenyicons_bell.svg) 50% 50% no-repeat;}
#header .btn-alarm.on{background-image:url(../img/common/teenyicons_bell_noti.svg);}
#header .search-form{width:200px;height:40px;border-radius:50px;background-color:#f5f5f5;align-items:center;padding:13px 14px;position: relative;}
#header .search-form input{font-size:12px;border:0;background-color:transparent;padding-right:24px;width:100%;}
#header .search-form .btn-search{display:inline-block;width:24px;height:24px;background:url(../img/common/ic_search.svg) 50% 50% no-repeat;font-size:0;position: absolute;right:14px;top:8px;}
.m-btn-search, .m-btn-back, .m-btn-home, .m-btn-alarm{display:inline-block;width:28px;height:28px;background-position:50% 50%;background-repeat:no-repeat;font-size:0;}
.m-btn-search{background-image:url(../img/common/ic_search_m.svg);position:absolute;right:16px;top:11px;}
.m-btn-back{background-image:url(../img/common/ic_arrow_back.svg);}
.m-btn-home{background-image:url(../img/common/ic_home_m.svg);}
.m-btn-alarm{background-image:url(../img/common/teenyicons_bell.svg);position:absolute;right:54px;top:11px;}
.m-btn-alarm.on{background-image:url(../img/common/teenyicons_bell_noti.svg);}
.m-search-area{position:absolute;left:0;top:0;right:0;height:50px;background-color:#fff;display:flex;padding:3px 16px;align-items:center;display:none;}

#header .h-inner.only-mobile{align-items:center;justify-content:space-between;}
#header .h-inner.only-mobile .sub-tit{font-size:22px;font-weight:600;line-height:1.4;}
#header .h-inner.only-mobile .m-btn-search{position: static;}
#header .h-inner.only-mobile + .m-search-area{left:44px;}

#header .h-inner.only-mobile .evt-tit{display:flex;align-items:center;gap:0 4px;cursor:pointer;}
#header .h-inner.only-mobile .evt-tit::after{content:'';display:block;width:22px;height:22px;background:url(../img/common/ic_blue_arrow.svg) 50% 50% no-repeat;transition:transform 0.2s;}
#header .h-inner.only-mobile .evt-tit.green::after{background:url(../img/common/ic_green_arrow.svg) 50% 50% no-repeat;}
#header .h-inner.only-mobile .evt-tit.on::after{transform:rotate(180deg);}

#header .btn-base-wrap{position: absolute;right:92px;top:11px;}

#footer{padding:30px 0 50px;background-color:#fff;position: relative;}
#footer .menu{display:flex;justify-content:center;gap:0 30px;}
#footer .menu li a{font-size:12px;font-weight:500;color:#72767a;}
#footer .address-area{text-align:center;margin-top:30px;}
#footer .address{display:inline-block;}
#footer .address dt{display:flex;position:relative;align-items:center;gap:0 5px;justify-content:center;cursor:pointer;font-size:12px;font-weight:600;}
#footer .address dt::after{content:'';display:inline-block;width:20px;height:20px;background:url(../img/common/ic_arrow_down.png) 0 0 no-repeat;transition:transform 0.2s;}
#footer .address dt.on::after{transform:rotate(180deg);}
#footer .address dd{margin-top:30px;text-align:left;display:none;}
#footer .address dd li{display:flex;gap:0 6px;font-size:12px;font-weight:500;color:#72767A;line-height:2;}
#footer .address dd li .label{flex-shrink:0;width:94px;}
#footer .address dd li .value{flex-grow:1;}
#footer .address dd .copy{font-size:12px;font-weight:500;color:#bbb;line-height:2;margin-top:10px;}

.menu-dimm{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.5);z-index:9;display:none;}
.menu-wrap{position:fixed;right:0;top:0;width:100%;height:100%;z-index:10;transform:translateX(100%);transition:transform 0.2s;background:#fff;max-width:1000px;}
.menu-wrap.on{transform:translateX(0);}
.menu-wrap.active{transform:translateX(0);}
.menu-wrap .m-header{position:relative;height:50px;display:flex;padding:0 16px;align-items:center;}
.menu-wrap .m-header h1{font-size:22px;font-weight:600;}
.menu-wrap .m-header .btn-close{display:inline-block;width:28px;height:28px;background:url(../img/common/ic_close.svg) 50% 50% no-repeat;position: absolute;right:16px;top:11px;font-size:0;}
.menu-wrap .m-container{background-color:#F2F9FF;padding:0 16px;overflow-y:auto;}
.menu-wrap .m-container li a{display:flex;padding:19px 0;font-size:16px;font-weight:500;line-height:1.4;position: relative;align-items:center;justify-content:space-between;}
.menu-wrap .m-container li a span{display:flex;gap:0 12px;}
.menu-wrap .m-container li a span::before{content:'';display:block;width:20px;height:20px;background-repeat:no-repeat;background-position:50% 50%;}
.menu-wrap .m-container li.menu-1 a span::before{background-image:url(../img/common/ic_menu_1.svg);}
.menu-wrap .m-container li.menu-2 a span::before{background-image:url(../img/common/ic_menu_2.svg);}
.menu-wrap .m-container li.menu-3 a span::before{background-image:url(../img/common/ic_menu_3.svg);}
.menu-wrap .m-container li.menu-4 a span::before{background-image:url(../img/common/ic_menu_4.svg);}
.menu-wrap .m-container li.menu-5 a span::before{background-image:url(../img/common/ic_menu_5.png);}
.menu-wrap .m-container li.menu-6 a span::before{background-image:url(../img/common/ic_menu_6.svg);}
.menu-wrap .m-container li.menu-7 a span::before{background-image:url(../img/common/ic_menu_7.png);}
.menu-wrap .m-container li.menu-8 a span::before{background-image:url(../img/common/ic_menu_8.svg);}
.menu-wrap .m-container li.menu-9 a span::before{background-image:url(../img/common/ic_menu_9.svg);}
.menu-wrap .m-container li a::after{content:'';display:inline-block;width:22px;height:24px;background:url(../img/common/ic_menu_arrow.svg) 50% 50% no-repeat;}

.menu-wrap .btn-base-wrap{padding:22px 16px;}

.fm-wrap{position:fixed;left:0;bottom:-60px;width:100%;height:60px;background:#fff;z-index:1;transition:bottom 0.2s;border-top:1px solid #EBEBEB;display:none;}
.fm-wrap.on{bottom:0;}
.fm-wrap ul{width:100%;display:flex;}
.fm-wrap li{width:25%;}
.fm-wrap li a{display:flex;width:100%;height:60px;align-items:center;justify-content:center;}
.fm-wrap li a::before{content:'';display:block;background-position:50% 50%;background-repeat:no-repeat;width:30px;height:30px;}
.fm-wrap li.menu a:before{background-image:url(../img/common/ic_menu.svg);}
.fm-wrap li.home a:before{background-image:url(../img/common/ic_home.svg);}
.fm-wrap li.my a:before{background-image:url(../img/common/ic_my.svg);}
.fm-wrap li.gift a:before{background-image:url(../img/common/ic_gift.svg);}
.fm-wrap li.on.menu a:before{background-image:url(../img/common/ic_menu_on.svg);}
.fm-wrap li.on.home a:before{background-image:url(../img/common/ic_home_on.svg);}
.fm-wrap li.on.my a:before{background-image:url(../img/common/ic_my_on.svg);}
.fm-wrap li.on.gift a:before{background-image:url(../img/common/ic_gift_on.svg);}

.fm-wrap.inc-starmenu{bottom:0;}
.fm-wrap.inc-starmenu li{width:20%;}
.fm-wrap.inc-starmenu li:nth-child(2){margin-right:20%;}
.fm-wrap.inc-starmenu .btn-starmenu{position:absolute;left:50%;margin-left:-30px;bottom:10px;border:6px solid #fff;border-radius:50%;overflow:hidden;} 
.fm-wrap.inc-starmenu .btn-starmenu .starmenu{width:50px;height:50px;background:#26C48C url(../img/common/ic_starmenu.svg) 12px 50% no-repeat;display:block;}

.btn-top{position:fixed;right:50px;bottom:50px;width:50px;height:50px;font-size:0;display:none;z-index:1;background:url(../img/common/ic_top.svg) 50% 50% no-repeat;}
.btn-top.on{display:block;}
.btn-payment{position: fixed;right:50px;bottom:50px;padding:7px 20px;background-color: #fff;z-index:1;border-radius:30px;border:1px solid #D9D9D9;font-size:16px;color:#333;line-height:1.4;}
.btn-payment span{display:flex;align-items: center;gap:0 15px;}
.btn-payment span::after{content:'';display:block;width:24px;height:24px;background:url('../img/common/ic_payment.svg') 50% 50% no-repeat;}
.btn-payment.on{bottom:115px;}

.search-top{display:flex;justify-content:space-between;height:40px;align-items:center;position: relative;width:100%;z-index:1;}
.search-top .result{font-size:16px;font-weight:500;line-height:1.4;color:#000;}
.search-top .filter-area{position: relative;}
.search-top .filter-area .label{font-size:16px;font-weight:500;line-height:1.4;display:flex;gap:0 4px;align-items:center;cursor:pointer;}
.search-top .filter-area .label::after{content:'';display:inline-block;width:22px;height:22px;background:url(../img/common/ic_arrow_filter.svg) 0 0 no-repeat;transform:rotate(180deg);transition:transform 0.2s;}
.search-top .filter-area .list{position:absolute;right:-10px;top:32px;background-color:#fff;padding:5px 15px;border-radius:8px;width:130px;display:none;}
.search-top .filter-area .list li a{display:flex;height:30px;align-items:center;justify-content:space-between;color:#72767a;font-weight:500;}
.search-top .filter-area .list li a::after{content:'';width:20px;height:20px;background:url(../img/common/ic_check.svg) 50% 50% no-repeat;display:none;}
.search-top .filter-area .list li.on a{color:#333;}
.search-top .filter-area .list li.on a::after{display:block;}
.search-top .filter-area.on .label::after{transform:rotate(0deg);}
.search-top .filter-area.on .list{display:block;}

.search-top.only-mobile{background-color:#fff;padding:0 16px;height:50px;border-bottom:1px solid #EBEBEB;position:fixed;left:0;top:50px;z-index:3;}
.search-top.only-mobile.relative{position:relative;top:0;}
.search-top.only-mobile .result{font-size:14px;}
.search-top.only-mobile .filter-area{position:static;}
.search-top.only-mobile .filter-area .label{font-size:14px;}
.search-top.only-mobile .filter-area .list{position:absolute;left:0;top:50px;right:0;width:100%;border-radius:0;padding:10px 16px;}
.search-top.only-mobile .filter-area .list li a{height:50px;justify-content:center;font-size:16px;color:#bbb;}
.search-top.only-mobile .filter-area .list li a::after{display:none;}
.search-top.only-mobile .filter-area .list li.on a{color:#333;}
.search-dimm, .tab-dimm, .top-modal-dimm{position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.5);z-index:2;display:none;}

.con-tit{font-size:22px;font-weight:600;color:#000;line-height:1.4;padding-bottom:20px;border-bottom:1px solid #ebebeb;margin-bottom:40px;}
.content-area{display:flex;gap:0 30px;justify-content:space-between;width:100%;}
.content-area .left-area, .content-area .right-area{padding-bottom:70px;}
.content-area .left-area{width:235px;flex-shrink:0;}
.content-area .area-line{width:1px;background-color:#EBEBEB;}
.content-area .right-area{flex-grow:1;}
.content-area .right-area .btn-base-wrap{padding:22px 16px;}

.left-area .my-top{border:1px solid #ebebeb;padding:20px;border-radius:8px;}
.left-area .my-top .user-area{display:flex;justify-content:space-between;align-items:center;}
.left-area .my-top .user-area .user{font-size:16px;font-weight:500;}
.left-area .my-top .user-area .user em{font-weight:inherit;}
.left-area .my-top .user-area .msg{font-size:12px;color:#72767a;}
.left-area .my-top .my-info-area{padding:20px;background-color:#F5F5F5;border-radius:8px;margin-top:16px;}
.left-area .my-top .my-info-area .label{display:block;font-size:14px;font-weight:600;line-heighT:1.4;color:#72767a;}
.left-area .my-top .my-info-area .price{display:block;font-size:16px;font-weight:600;margin-top:5px;}
.left-area .my-top .my-info-area .price em{font-size:20px;font-weight:700;font-family:'Montserrat';}

.left-area .my-top.ver_new{background-color: #EBEBEB;}
.left-area .my-top .my-mileage-area{background-color:#fff;margin-top:16px;border-radius:8px;}
.left-area .my-top .my-mileage-area .my-mileage{padding:20px 20px 15px;}
.left-area .my-top .my-mileage-area .my-mileage span{display:block;}
.left-area .my-top .my-mileage-area .my-mileage .label{font-size:14px;line-height:1.4;font-weight:600;color:#333;}
.left-area .my-top .my-mileage-area .my-mileage .price{font-size:16px;font-weight:600;color:#4289f0;margin-top:5px;line-height:24px;}
.left-area .my-top .my-mileage-area .my-mileage .price em{font-weight:700;font-size:20px;font-family:'Montserrat';}
.left-area .my-top .my-mileage-area .my-mileage .info{margin-top:5px;font-size:12px;font-weight:500;line-height:1.6;color:#bbb;}
.left-area .my-top .my-mileage-area .my-mileage-list{padding:15px 20px 20px;border-top:1px solid #D9D9D9;}
.left-area .my-top .my-mileage-area .my-mileage-list li{display:flex;justify-content: space-between;align-items: flex-end;padding:10px 0;border-top:1px solid #EBEBEB;}
.left-area .my-top .my-mileage-area .my-mileage-list li:first-child{padding-top:0;border-top:0;}
.left-area .my-top .my-mileage-area .my-mileage-list li:last-child{padding-bottom:0;}
.left-area .my-top .my-mileage-area .my-mileage-list li .label{font-size:12px;font-weight:600;color:#72767a;line-height:1.2;}
.left-area .my-top .my-mileage-area .my-mileage-list li .price{font-size:14px;font-weight:600;line-height:1.4;color:#333;}
.left-area .my-top .my-mileage-area .my-mileage-list li .price em{font-weight:600;}

.left-area .my-btn{margin-top:20px;}
.left-area .my-btn li{padding:30px 0;border-top:1px solid #ebebeb;}
.left-area .my-btn li:first-child{padding-top:0;border-top:0;}
.left-area .my-btn li:last-child{padding-bottom:0;}

.top-modal-wrap{position:fixed;left:0;top:50px;width:100%;max-height:calc(100% - 50px);background-color:#F2F9FF;padding:20px;z-index:4;display:none;overflow-y:auto;}
.top-modal-wrap.green{background-color: rgb(203, 252, 231);}
.cate-list{display:flex;flex-wrap:wrap;gap:40px 20px;}
.cate-list li{width:calc(33.333% - 14px);text-align:center;}
.cate-list li dt{display:flex;width:70px;height:70px;background-color:#fff;border-radius:50%;justify-content:center;align-items:center;margin:0 auto;}
/* .cate-list li dt img{max-width:34px;max-height:38px;} */
.cate-list li dd{margin-top:10px;font-size:14px;font-weight:600;color:#333;text-align:center;}

#container.ver_promotion{min-height:calc(100vh - 80px);}

@media screen and (max-width: 1080px) {
  #wrapper::before, #wrapper::after{display:none;}
  #header .h-inner, #footer .f-inner{padding:0 20px;}
  .content-wrap{padding:40px 20px 100px;}
}

@media screen and (min-width: 751px) {
  .m-search-area,
  .search-dimm{display:none !important;}
  .top-modal-wrap,
  .top-modal-dimm{display:none !important;}
  .tab-dimm{display:none !important;}
}

@media screen and (max-width: 750px) {
  #wrapper{padding-bottom:60px;}
  #header{position:fixed;}
  #header .h-inner{height:50px;padding:3px 16px;} 

  #footer{display:none;}
  #footer .f-inner{padding:0 16px;}
  #header h1{font-size:16px;}
  body.bg #footer{background-color:#F2F9FF;}
  #footer .menu{justify-content:flex-start;}
  #footer .address-area{margin-top:22px;text-align:left;}
  #footer .address dt{justify-content:flex-start;}
  #footer .address dd{margin-top:22px;}

  #container{padding-top:50px;}
  #container.ver_search{padding-top:100px;}
  #container.ver_search.ver_brand{padding-top:50px;}
  #container.ver_search.ver_subscribe{padding-top:50px;}
  #container.ver_tab{padding-top:90px;}
  #container.ver_permission{padding-top:0;}
  #container.ver_notification{padding-top:120px;}
  
  .content-wrap{padding:40px 16px 50px;min-height:initial;overflow:hidden;}
  .content-wrap.main{padding:30px 16px 50px;}
  .content-wrap.detail,
  .content-wrap.qna{padding:0;}
  .content-wrap.inquiry,
  .content-wrap.order{padding-top:20px;}
  .content-wrap.event{padding-top:10px;}
  #container.ver_search .content-wrap{padding-top:16px;}
  #wrapper.ver_mypage .content-wrap{padding-top:20px;}
  #wrapper.ver_submain,
  #wrapper.ver_mypage{background-color:#F2F9FF;}

  .fm-wrap{display:block;}
  .btn-top{right:16px;bottom:70px;width:34px;height:34px;background-size:cover;}
  .btn-payment{right:16px;bottom:70px;}

  #wrapper.ver_main #footer{display:block;}
  #wrapper.ver_fix_btn{padding-bottom:92px;}
  #wrapper.ver_fix_btn .btn-top{bottom:100px;}
  #wrapper.ver_fix_btn.ver_fix_chk .btn-top{bottom:130px;}
  #wrapper.ver_fix_btn.btn_2{padding-bottom:162px;}
  #wrapper.ver_fix_btn.btn_2 .btn-top{bottom:170px;}
  #wrapper.ver_fix_btn .fm-wrap{display:none;}
  #wrapper.ver_fix_btn.ver_fix_chk{padding-bottom:147px;}

  .content-area{display:block;}
  .content-area .left-area{width:100%;}
  .content-area .left-area, .content-area .right-area{padding-bottom:0;}
  .content-area .right-area{margin-top:20px;}
  .content-area .area-line{display:none;}

  .left-area .my-top{background-color:#4289F0;position: relative;}
  .left-area .my-top .user-area{flex-direction:column-reverse;align-items:flex-start;}
  .left-area .my-top .user-area .msg{color:#fff;}
  .left-area .my-top .user-area .user{color:#fff;font-size:22px;font-weight:600;margin-top:5px;}
  .left-area .my-top .btn-base.wallet{position: absolute;right:20px;top:20px;}
  .left-area .my-top .my-info-area{background-color: #356ec0;display:flex;align-items:center;justify-content:space-between;padding:12px 16px;}
  .left-area .my-top .my-info-area .label{color:#d0e8ff;}
  .left-area .my-top .my-info-area .price{color:#fff;font-weight:700;margin-top:0;}

  .left-area .my-top.ver_new{background-color:#4289F0;position: relative;}
  .left-area .my-top .my-mileage-area{background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--Point, #4289F0);padding:20px;}
  .left-area .my-top .my-mileage-area .my-mileage{padding:0 0 10px;}
  .left-area .my-top .my-mileage-area .my-mileage .label-area{display:flex;justify-content: space-between;align-items: center;}
  .left-area .my-top .my-mileage-area .my-mileage .label{color:#d0e8ff;}
  .left-area .my-top .my-mileage-area .my-mileage .price{color:#fff;margin-top:0;}
  .left-area .my-top .my-mileage-area .my-mileage .info{color:#d0e7ff;text-align:right;}
  .left-area .my-top .my-mileage-area .my-mileage-list{border-top:1px solid rgba(208, 232, 255, 0.30);padding:10px 0 0;}
  .left-area .my-top .my-mileage-area .my-mileage-list li{padding:0;border-top:0;}
  .left-area .my-top .my-mileage-area .my-mileage-list li .label{color:#D0E7FF;}
  .left-area .my-top .my-mileage-area .my-mileage-list li .label br{display:none;}
  .left-area .my-top .my-mileage-area .my-mileage-list li .price{color:#fff;}
  .left-area .my-top .my-mileage-area .my-mileage-list li .price em{font-family: 'Montserrat';}
  .content-area .right-area .btn-base-wrap{padding:0;margin-bottom:20px;}

  #wrapper.ver_promotion{padding-bottom:0;}
  #container.ver_promotion{min-height:calc(100vh);}
}